
<style type="text/css">
  .form .label{
    width:10.3%;
  }
  .form .text{
    width: 87%;
  }
  .form .col .label{
    width:20.5%;
  }
  .form .col .text{
    width: 70%;
  }
  .form .col .select{
    width: 72%;
  }
  .form fieldset{
    margin-left: .5em;
    margin-right: .5em;
  }
  .category-option{
    display : none;
  }
  select{
    height: 21px;
    vertical-align:middle;
  }
</style>
<script type="text/javascript">
  function changeIndex(timeGran){
    $("#kiplist").empty();
    $(".topn-index").empty();
    $("#kiplist").append("<option value=''>加载中...</option>");
    $.getJSON("/report/perf_templates/kpilist_candidate", { netgran: timeGran}, function(grans){
      $("#kiplist").empty();
      var selectedKpilists = "<%=@perf_template.kpilist.is_a?(Array) ? @perf_template.kpilist.join(",") : @perf_template.kpilist%>".split(",");
      for(var i=0; i<grans.length; i++){
        var gran = grans[i];
        var selected = $.inArray(gran.id + "", selectedKpilists);
        var option = ["<option value='" + gran.id + "'"];
        if(selected != -1)
          option.push(" selected='selected'");
        option.push("ename='" + gran.ename +"' unit='" + gran.unit + "'>" + gran.name + "</option>");
        $("#kiplist").append(option.join(""));
      }
      $("#kiplist").change();
      $("#topnkpi option[value=" + "<%=@perf_template.topn_kpi%>]").attr("selected", "selected");
    });
  }
  function checkDicGroup(){
    var checkedGroups = "<%=@perf_template.dic_group.is_a?(Array) ? @perf_template.dic_group.uniq.join(",") : @perf_template.dic_group%>".split(",");
    $.each(checkedGroups, function(i, group){
      if(group != "")
        $("input[value=" + group + "]").attr("checked", true).click().attr("checked", true);
    });
  }
  function checkTopn(){
    var topn = <%=@perf_template.is_topn.nil? ? 0 : @perf_template.is_topn%>;
    if(topn == 1){
      $("#topn-enabled").attr("checked", true).click().attr("checked", true);
    }else{
      $("#topn-enabled").attr("checked", false).click().attr("checked", false);
    }
  }
  function checkChartSet(){
    var chart_sets = "<%=chart_set_seqs.join(",")%>".split(",");
    $.each(chart_sets, function(i, chart_set){
      $("input[chart_name=chart" + chart_set + "]").attr("checked", true).click().attr("checked", true);
    });
  }
  function switchCategory(timeGran){
    changeIndex(timeGran);
    $(".category-option").css("display", "none").attr("disable", true);
    if(timeGran == 0 || timeGran == 1 || timeGran == 2 || timeGran == 5 || timeGran == 3){
      $("#port_type_container").css("display", "block").attr("disable", false);
    }else if(timeGran == 9)
      $("#device_sw,#device-port").css("display", "block").attr("disable", false);
    else if (timeGran == 6 || timeGran == 7)
      $("#none").css("display", "block").attr("disable", false);
    else if (timeGran == 10)
      $("#device-port").css("display", "block").attr("disable", false);
    else if (timeGran == 11)
      $("#device_ap").css("display", "block").attr("disable", false);
  }
  function changeCandidateByNetGran(){
    $(".selected").empty();
    $(".candidate option[type=region-effect]").remove();
    $(".x_axis option[type=region-effect]").remove();
    var selectedOption = $("#region_gran option:selected")[0];
    var option = "<option type='region-effect' value='" + selectedOption.text + "'>" + selectedOption.text + "</option>";
    $(".candidate").append(option);
    $(".x_axis").append(option);
  }
  function changeRegionGran(regionGran){
    $("#busy_time option[value=-4]").remove();
    $("#busy_time").css({width:"258px",background:"#FFFFFF url(images/ui-bg_flat_0_FFFFFF_40x100.png) repeat scroll center center",border:"1px solid #BBD8E7",color:"#333333"});
  }
  function adjustGroupCol(){
    var chart_sets = window.eval('<%=@perf_template.chart_sets.to_json%>');
    $.each(chart_sets, function(i, chart_set){
      var chart = $("#chart" + chart_set.chart_seq + "-xcol");
      var groupColCandidate = $("#chart" + chart_set.chart_seq + "-candidate");
      var groupSelectedCol = $("#chart" + chart_set.chart_seq + "-selected");
      chart.attr("value", chart_set.x_col);
      groupColCandidate.find("option[value=" + chart_set.x_col + "]").remove();
      if(chart_set.group_col){
        if(!(chart_set.group_col instanceof Array))
          chart_set.group_col = chart_set.group_col.split(",");
        $.each(chart_set.group_col, function(i, col){
          groupColCandidate.find("option[value=" + col + "]").appendTo(groupSelectedCol.get()).attr("selected", true);
        });
      }
    })
  }
  function cancelUsers(){
    $("#perf_template_report_template_users option").attr("selected", false);
  }
  function loadCategorySelect(){
    var timeSelectValue = $("#time_define").val();
    var categorySelectValue = Math.floor((parseInt(timeSelectValue) + 1)/2);
    if (timeSelectValue == ""){
      $("#category_id").val("");
    }
    else {
      $("#category_id").val(categorySelectValue);
    };
  }
  $(function(){
    //用户选择
    $(".cancelusers").click(function(e){
      cancelUsers();
    });
    $(".all_time").click(function(e){
      $(".time_gran").attr("checked", $(e.target).attr("checked"));
    });
    $(".region-effect").click(function(e){
      var e = $(e.target);
      if(e.attr("col_value") == "端口类型")
        return;
      if(e.attr("checked") == true){
        var option = "<option type='region-effect' value='" + e.attr("col_value") + "'>" + e.attr("col_value") + "</option>";
        $(".candidate").append(option);
        $(".x_axis").append(option);
      }else{
        $(".candidate option[value=" + e.attr("col_value")+ "]").remove();
        $(".x_axis option[value=" + e.attr("col_value")+ "]").remove();
      }
    });
    $("#region_gran").change(function(e){
      var regionGran = $("#region_gran option:selected").val();
      changeRegionGran(regionGran);
      switchCategory($(e.target).val());
      changeCandidateByNetGran();
      $(".region-effect").attr("checked", false);
      $(".region-effect-object").attr("disabled", true);
    })
    $("#port_type_enabled,#project_state_enabled,#check_state_enabled,#site_level_enabled,#sub_type_enabled").click(function(){
      var port = $("#port_type_enabled").attr("checked");
      var project = $("#project_state_enabled").attr("checked");
      var check = $("#check_state_enabled").attr("checked");
      var level = $("#site_level_enabled").attr("checked");
      var type = $("#sub_type_enabled").attr("checked");
      if(this.checked == true || port == true || project == true || check == true || level == true || type == true ){
        changeIndex(3);
      }
      else{
        changeIndex(parseInt($("#region_gran").val()));
      }
    });
    $(".chart-enabled").click(function(e){
      var e = $(e.target);
      var chartEnabledEffect = e.attr("chart_name");
      $("."+chartEnabledEffect).attr("disabled", !e.attr("checked"));
    });
    $(".mover").click(function(e){
      e = $(e.target);
      var direct = e.attr("direct");
      var candidate = e.attr("candidate");
      var selected = e.attr("selected");
      if(direct == "right"){
        var selectedOptions = $("#" + candidate + " option:selected");
        $.each(selectedOptions, function(i, option){
          $("#" + selected).append(option);
        })
      }else{
        var selectedOptions = $("#" + selected + " option:selected");
        $.each(selectedOptions, function(i, option){
          $("#" + candidate).append(option);
        })
      }
    });
    $(".x_axis").change(function(e){
      e = $(e.target);
      var except = e.attr("except");
      $("." + except + "-except option[value=" + e.val() + "]").remove();
      $("#" + except + "-candidate").empty();
      var selected = $("#" + except + "-selected option");
      $.each(e.children(), function(i, option){
        if(option.value != e.val() && option.value != ""){
          var notInSelected = true;
          $.each(selected, function(i, option1){
            if(option.value == option1.value){
              notInSelected = false;
              return;
            }
          })
          if(notInSelected)
            $("#" + except + "-candidate").append($(option).clone());
        }
      });
    });
    switchCategory(<%=@perf_template.netloc_gran.nil? ? 1 : @perf_template.netloc_gran%>);
    changeCandidateByNetGran();
    $(".chart,.topn,.chart1,.chart2,.chart3").attr("disabled", true);
    $("#time_define").change(function(){loadCategorySelect();});
  })
  $(document).ready(function(){
    if (parseInt($("#group_type").val()) != 1){
      $("#busi_type").attr("disabled","disabled");
    };
    if (parseInt($("#group_type").val()) != 2){
      $("#category_id").attr("disabled", true);
    };
    if (parseInt($("#group_type").val()) != 3){
      $("#count_range").hide();
    }else{
      $("#count_range").show();
    }
    setBusiSelect();
    loadGroupTypeSelect();
    $("#group_type").change(function(){
      if (parseInt($("#group_type").val()) != 3){
        $("#count_range").hide();
      }else{
        $("#count_range").show();
      }
    });
  });
  function setBusiSelect(){
    $("#group_type").change(function(){
      var groupVal = parseInt($("#group_type").val());
      var busi = $("#busi_type");
      if (groupVal == 1){
        busi.attr("disabled","");
      }
      else{
        busi.attr("disabled","disabled");
        busi.find("option").eq("0").attr("selected","selected");
      }
    });
  };
  function loadGroupTypeSelect(){
    var groupType = $("#group_type");
    groupType.change(function(){
      var groupValue = parseInt(groupType.val());
      switch(groupValue){
        case 1:
          categorySelectSetNone();
          break;
        case 2:
          categorySelectReset();
          break;
        case 3:
          categorySelectSetNone();
          break;
      }
    });
  };
  function categorySelectReset(){
    var category = $("#category_id");
    category.attr("disabled", false);
    category.attr("value", "");
  };
  function categorySelectSetNone(){
    var category = $("#category_id");
    category.attr("value", "");
    category.attr("disabled", true);
  };
</script>


<% form_for :perf_template, @perf_template, :url => url, :html => {:method => method, :class => 'form ui-widget'} do |f|%>
  <input type="hidden" name="perf_template[report_type]" value="1">
  <% field_set_tag '', :style => "padding: 1em;", :class => "ui-widget-content ui-corner-all" do %>
    <%= ui_error f.error_messages unless f.error_messages.empty? %>
    <div class='wrap'>
      <div class='li'>
        <%=f.label :report_name, '模板名称', :required=>true %>
        <%=f.text_field :report_name %>
      </div>
      <div class='li'>
        <div class='left col' style="">
          <%=f.label :group_type,'报表类型',:class=>'label' %>
          <%=f.select :group_type, @group_types, {:selected => @perf_template.group_type.to_s}, {:id => "group_type"}%>
        </div>
        <div class='left col' style="">
          <%=f.label :time_define,'时间范围',:class=>'label' %>
          <%=f.select :time_define, [""] + template_time_types, {:selected => @perf_template.time_define.to_i}, {:id => "time_define"}%>
        </div>
        <%#*<div class='left col'>%>
          <%#=f.label :busi_type, '集团报表', :class=>'label'%>
          <%#=f.select :busi_type, [""] + @busi_types, {:selected => @perf_template.busi_type.to_s}, {:id => "busi_type"}%>
        <%#*</div>%>
      </div>
      <%#*<div class='li'>%>
        <%#*<div class='left col' style="">%>
          <%#=f.label :time_define,'时间范围',:class=>'label' %>
          <%#=f.select :time_define, [""] + template_time_types, {:selected => @perf_template.time_define.to_i}, {:id => "time_define"}%>
        <%#*</div>%>
        <%#*<div class='left col'>%>
          <%#=f.label :category_id, '所属分类', :class=>'label'%>
          <%#=f.select :category_id, [""] + @template_catetory, {:selected => @perf_template.category_id.to_i}, {:id => "category_id"}%>
        <%#*</div>%>
      <%#*</div>%>
      <div class='li'>
        <div class='left col'>
          <% field_set_tag '统计时段', :style => "padding: 5px;height:150px;", :class => "ui-widget-content ui-corner-all" do %>
            <div style="width:65px;float:left;white-space:nowrap;">
              <%=check_box_tag "all_time", "", false, :style => "float:left", :class=>" all_time"%>
              <%=label_tag "all_time", "全部", :class =>"label", :style => "float:left;width:30px;"%>
            </div>
            <%(1..24).each do |i|%>
              <div style="width:65px;float:left;">
                <%=check_box_tag "perf_template[hourlist][]", i , @perf_template.hourlist.nil? ?  false : @perf_template.hourlist.split(',').include?(i.to_s), :id =>"hourlist_#{i}", :class => "time_gran", :style => "float:left;"%>
                <%=label_tag "hourlist_#{i}", i.to_s, :class=>"label", :style => "float:left;width:30px;"%>
              </div>
            <%end%>
          <%end%>
        </div>
        <div id="count_range" class='right col' style="">
          <% field_set_tag '统计范围', :style => "padding: 5px;height:150px;", :class => "ui-widget-content ui-corner-all" do %>
            <%=render :partial=>'report/domain_selection'%>
          <%end%>
          <input type="hidden" value="<%=net_loc%>" name="perf_template[netloc]" id="netloc" >
        </div>
      </div>
      <div class='li'>
        <div class='left col'>
          <%=f.label :time_gran,'时间粒度',:class=>'label', :required => true %>
          <%=f.select :time_gran, [["全部",7],["季度", 0],["月份",1],["周",2],["日期",3],["时段",4]], {:selected => @perf_template.time_gran.to_i}, {:id => "time_gran"}%>
        </div>
        <div class='left col' style="">
          <%=f.label :busytime,'忙时选项',:class=>'label', :required => true %>
          <%=f.select :busytime, busy_times(@perf_template.netloc_gran.to_i), {:selected => @perf_template.busytime.to_i}, {:id => "busy_time"}%>
        </div>
        <script type="text/javascript">
          function timeGranChanged(timeGran){
            var availableTimeGran = [];
            $(".time-gran-effect option[type=time-gran]").remove();
            $(".x_axis option[type=time-gran]").remove();
            $(".selected").empty();
            if(timeGran == 0){
              availableTimeGran[0] = "<option type='time-gran' value='年份'>年份</options>";
              availableTimeGran[1] = "<option type='time-gran' value='季度'>季度</options>";
            }else if(timeGran == 1){
              availableTimeGran[0] = "<option type='time-gran' value='年份'>年份</options>";
              availableTimeGran[1] = "<option type='time-gran' value='月份'>月份</options>";
            }else if(timeGran == 2){
              availableTimeGran[0] = "<option type='time-gran' value='年份'>年份</options>";
              availableTimeGran[1] = "<option type='time-gran' value='周'>周</options>";
            }else if(timeGran == 3){
              availableTimeGran[0] = "<option type='time-gran' value='日期'>日期</options>";
            }else if(timeGran == 4){
              availableTimeGran[0] = "<option type='time-gran' value='日期'>日期</options>";
              availableTimeGran[1] = "<option type='time-gran' value='时段'>时段</options>";
            }
            $(".candidate").append(availableTimeGran.join(""));
            $(".x_axis").append(availableTimeGran.join(""));
          }
          $(function(){
            $("#time_gran").change(function(e){
              var timeGran = $("#time_gran option:selected").val();
              timeGranChanged(timeGran);
            });
            timeGranChanged($("#time_gran option:selected").val());
          })
        </script>
      </div>
      <div class='li'>
        <div class='left col'>
          <%=f.label 'netloc_gran','区域粒度',:class=>'label', :required => true %>
          <%=f.select :netloc_gran, netloc_grans, {:selected => @perf_template.netloc_gran.to_i}, {:id => "region_gran"}%>
        </div>
      </div>
      <div class='li'>
        <div class='left col'>
          <% field_set_tag '分类选项', :style => "padding: 5px;height:410px;", :class => "ui-widget-content ui-corner-all" do %>
            <%selections = dic_group_selections%>
            <div id="none" style="" class="category-option">
              当前没有分类选项可配置
            </div>
            <div id="port_type_container" style="" class="category-option">
              <div style="float:left;width:48%">
                <div style="float:left;white-space:nowrap;">
                  <input id="port_type_enabled" type="checkbox" class="region-effect" col_value="热点类型" value="port_type" name="perf_template[dic_group][]" style="float:left">
                  <label for="port_type_enabled" style="float:left;text-align:left;" class="label">热点类型</label>
                </div>
                <%=select_tag "perf_template[group_original][port_type]", options_for_select(Rms::ReportTemplateCandidate.port_type_candidates, selections[:port_type]||'全部'),
                  {:multiple => true, :class=>" region-effect-object", :style => "width: 100%;height:108px;", :id=>"port_type"}%>
              </div>
              <div style="float:left;width:48%;margin-left:10px;">
                <div style="float:left;white-space:nowrap;">
                  <input id="sub_type_enabled" type="checkbox" class="region-effect" col_value="热点小类" value="sub_type" name="perf_template[dic_group][]" style="float:left">
                  <label for="sub_type_enabled" style="float:left" class="label">热点小类</label>
                </div>
                <%=select_tag "perf_template[group_original][sub_type]", options_for_select(Rms::ReportTemplateCandidate.sub_type_candidates, selections[:sub_type]||"全部"),
                  {:multiple => true, :class=>" region-effect-object", :style => "width: 100%; height:108px;",:id=>'sub_type'}%>
              </div>
              <div style="float:left;width:48%;margin-right:10px;">
                <div style="float:left;white-space:nowrap;">
                  <input id="site_level_enabled" type="checkbox" class="region-effect" col_value="热点等级" value="site_level" name="perf_template[dic_group][]" style="float:left"/>
                  <label for="site_level_enabled" style="float:left" class="label">热点等级</label>
                </div>
                <%=select_tag "perf_template[group_original][site_level]", options_for_select(Rms::ReportTemplateCandidate.site_level_candidates, selections[:site_level]||"全部"),
                  {:multiple => true, :class=>" region-effect-object", :style => "width: 100%; height:108px;",:id=>'site_level'}%>
              </div>
              <% if @current_user.domain.base.include?("shanxi") || @current_user.domain.base.include?("yunnan")  %>
                <div style="float:left;width:48%;">
                  <div style="float:left;white-space:nowrap;">
                    <input id="project_state_enabled" type="checkbox" class="region-effect" col_value="工程状态" value="project_state" name="perf_template[dic_group][]" style="float:left"/>
                    <label for="project_state_enabled" style="float:left" class="label">工程状态</label>
                  </div>
                  <%=select_tag "perf_template[group_original][project_state]", options_for_select(Rms::ReportTemplateCandidate.project_status_candidates, selections[:project_state]||"全部"),
                    {:multiple => true, :class=>" region-effect-object", :style => "width: 100%; height:108px;",:id=>'project_state'}%>
                </div>
              <% end %>
              <% if @current_user.domain.base.include?("yunnan") || @current_user.domain.base.include?("jilin") %>
                <div style="float:left;width:48%;">
                  <div style="float:left;white-space:nowrap;">
                    <input id="check_state_enabled" type="checkbox" class="region-effect" col_value="验收状态" value="check_state" name="perf_template[dic_group][]" style="float:left"/>
                    <label for="check_state_enabled" style="float:left;text-align:left;" class="label">验收状态</label>
                  </div>
                  <%=select_tag "perf_template[group_original][check_state]", options_for_select(Rms::ReportTemplateCandidate.check_state_candidates, selections[:check_state]||'全部'),
                    {:multiple => true, :class=>" region-effect-object", :style => "width: 100%;height:108px;", :id=>"check_state"}%>
                </div>
              <% end %>
              <script type="text/javascript">
                $(function(){
                  $("#port_type,#sub_type,#site_level,#project_state,#check_state").attr("disabled", true);
                  $("#port_type_enabled").click(function(e){
                    $("#port_type").attr("disabled", !$(e.target).attr("checked"));
                  });
                  $("#sub_type_enabled").click(function(e){
                    $("#sub_type").attr("disabled", !$(e.target).attr("checked"));
                  });
                  $("#site_level_enabled").click(function(e){
                    $("#site_level").attr("disabled", !$(e.target).attr("checked"));
                  });
                  $("#project_state_enabled").click(function(e){
                    $("#project_state").attr("disabled", !$(e.target).attr("checked"));
                  });
                  $("#check_state_enabled").click(function(e){
                    $("#check_state").attr("disabled", !$(e.target).attr("checked"));
                  });
                })
              </script>
            </div>
            <div id="device_ap" style="" class="category-option">
              <div style="float:left;width:48%">
                <div style="float:left;white-space:nowrap;">
                  <input id="ap_vendor_enabled" type="checkbox" class="region-effect" col_value="设备厂家" value="device_manu" name="perf_template[dic_group][]" style="float:left">
                  <label for="ap_vendor_enabled" style="float:left" class="label">设备厂家</label>
                </div>
                <%=select_tag "perf_template[group_original][device_manu]", options_for_select(Rms::ReportTemplateCandidate.device_manu_candidates, selections[:device_manu]||"全部"),
                  {:multiple => true, :class=>" region-effect-object", :style => "width: 100%; height:80px;",:id=>'ap_device_manu'}%>
              </div>
              <div style="float:left;width:48%;margin-left:10px;">
                <div style="float:left;white-space:nowrap;">
                  <input id="ap_mode_enabled" type="checkbox" class="region-effect" col_value="设备型号" value="device_type" name="perf_template[dic_group][]" style="float:left">
                  <label for="ap_mode_enabled" style="float:left" class="label">设备型号</label>
                </div>
                <%=select_tag "perf_template[group_original][device_type]", options_for_select(Rms::ReportTemplateCandidate.device_ap_kind, selections[:device_type]||"全部"),
                  {:multiple => true, :class=>" region-effect-object", :style => "width: 100%; height:80px;",:id=>'ap_device_type'}%>
              </div>
            </div>
            <div id="device_sw" style="" class="category-option">
              <div style="float:left;width:48%">
                <div style="float:left;white-space:nowrap;">
                  <input id="sw_vendor_enabled" type="checkbox" class="region-effect" col_value="设备厂家" value="device_manu" name="perf_template[dic_group][]" style="float:left">
                  <label for="sw_vendor_enabled" style="float:left" class="label">设备厂家</label>
                </div>
                <%=select_tag "perf_template[group_original][device_manu]", options_for_select(Rms::ReportTemplateCandidate.device_manu_candidates, selections[:device_manu]||"全部"),
                  {:multiple => true, :class=>" region-effect-object", :style => "width: 100%; height:80px;", :id=>"sw_device_manu"}%>
              </div>
              <div style="float:left;width:48%;margin-left:10px;">
                <div style="float:left;white-space:nowrap;">
                  <input id="sw_mode_enabled" type="checkbox" class="region-effect" col_value="设备型号" value="device_type" name="perf_template[dic_group][]" style="float:left">
                  <label for="sw_mode_enabled" style="float:left" class="label">设备型号</label>
                </div>
                <%=select_tag "perf_template[group_original][device_type]", options_for_select(Rms::ReportTemplateCandidate.device_sw_kind, selections[:device_type]||"全部"),
                  {:multiple => true, :class=>" region-effect-object", :style => "width: 100%; height:80px;", :id=>"sw_device_type"}%>
              </div>
            </div>
            <div id="device-port" style="float:left;white-space:nowrap;margin-top:5px;" class=" clearfix category-option">
              <input id="switch_port_type_enabled" type="checkbox" class="region-effect" col_value="端口类型" value="porttype" name="perf_template[dic_group][]" style="float:left">
              <label for="switch_port_type_enabled" style="float:left;width:60px;" class="label">端口类型</label>
              <%=select_tag "perf_template[group_original][porttype]", options_for_select(Rms::ReportTemplateCandidate.porttype_candidates, (selections[:porttype].nil? ? [] : selections[:porttype].collect{|p|p.to_i})),
                {:style => "float:left;width:150px;", :id=>"porttype", :class=>" region-effect-object"}%>
            </div>
            <script type="text/javascript">
              $(function(){
                $("#sw_vendor_enabled").click(function(e){
                  $("#sw_device_manu").attr("disabled", !$(e.target).attr("checked"));
                });
                $("#sw_mode_enabled").click(function(e){
                  $("#sw_device_type").attr("disabled", !$(e.target).attr("checked"));
                });
                $("#ap_vendor_enabled").click(function(e){
                  $("#ap_device_manu").attr("disabled", !$(e.target).attr("checked"));
                });
                $("#ap_mode_enabled").click(function(e){
                  $("#ap_device_type").attr("disabled", !$(e.target).attr("checked"));
                });
                $("#switch_port_type_enabled").click(function(e){
                  $("#porttype").attr("disabled", !$(e.target).attr("checked"));
                });
              })
            </script>
          <%end%>
        </div>
        <div class='right col' style="">
          <% field_set_tag '统计指标<a  style="cursor: hand;" onclick="countall();" class="countall">(全选)</a>', :style => "padding: 5px;height:410px;", :class => "ui-widget-content ui-corner-all" do %>
            <%=f.select :kpilist, "", [], :multiple => true, :style => "height:395px;width:300px;margin-left:2.5%;border:none;", :id =>"kiplist"%>
          <%end%>
          <script type="text/javascript">
            $(function(){
              $("#kiplist").change(function(e){
                var selectedIndexes = $("#kiplist option:selected");
                $(".topn-index").empty();
                $.each(selectedIndexes, function(i, index){
                  $(".topn-index").append("<option value='" + index.text + "'>" + index.text + "</option>");
                });
              });
            })
          </script>
        </div>
      </div>
      <div class='li'>
        <div class="left col">
          <%=render :partial => "/report/customize/index_filter"%>
        </div>
        <div style="display:none;">
          <div id="filter_template">
            <div class="clearfix" style="margin: 5px;">
              <div class="left"><input id="{index_ename}" class="indexEnable" type="checkbox"/></div>
              <div class="left" style="width:150px;line-height: 20px;"><label for="{index_ename}">{index_name}</label></div>
              <div class="left" style="margin-left: 5px;"><%=select_tag "perf_template[index_filter][{index_ename}][op]", options_for_select([["大于",">"],["小于","<"],["等于", "="],["大于等于",">="],["小于等于","<="]]), :style => "width: 60px;", :id => "{index_ename}_op"%></div>
              <div class="left" style="margin-left: 5px;"><input onkeydown="return check_number(event)" id="{index_ename}_value" name="perf_template[index_filter][{index_ename}][value]" type="text" style="width: 60px;"/></div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          function check_number(e){
            if (e.keyCode == 8 || e.keyCode == 190){
              return true;
            }else if(e.keyCode!=0 && (e.keyCode<48 || e.keyCode>57))  {
              return false;
            }
          }
        </script>
        <div class='right col' style="">
          <fieldset style="padding: 5px;height:150px;" class="ui-widget-content ui-corner-all">
            <legend>
              <%=f.check_box :is_topn, :style => "", :id => "topn-enabled", :class => " topon_enabled"%>
              <%=label "perf_template",:is_topn, "支持TopN", :for =>"topn-enabled", :style => ""%>
            </legend>
            <div style="" class="topn">
              <div class="li">
                <%=f.label :topn_kpi,'TopN指标', :class=>'label'%>
                <%=f.select :topn_kpi, [],{}, {:style=>"width:228px;", :id => "topnkpi", :class => " topn topn-index"}%>
              </div>
              <div class="li">
                <%=f.label :sort_type,'排序方式',:class=>'label'%>
                <%=f.select :sort_type, [['升序', 1], ['降序', 2]],{:selected => @perf_template.sort_type}, {:style=>"width:228px;",:class =>' topn'}%>
              </div>
              <div class="li">
                <%=f.label :top_n,'TopN值',:class=>'label'%>
                <%=f.text_field :top_n, :style=>"width:220px;",:id => "topn_val", :class=>'topn number'%>
              </div>
            </div>
            <script type="text/javascript">
              $(function(){
                $(".topon_enabled").click(function(e){
                  $(".topn").attr("disabled", !$(e.target).attr("checked"));
                });
                $(".number").keydown(function (e){
                  if (e.which == 8 || e.which == 190){
                    return true;
                  }else if(e.which!=0 && (e.which<48 || e.which>57))  {
                    return false;
                  }
                  if($(e.target).val().length > 5)
                    return false;
                });
                $("#topn_val").blur(function(){
                  if ($("#topn_val").val() == 0){
                    alert("TopN值不能为0！");
                  }
                });
              })
            </script>
          </fieldset>
        </div>
      </div>
      <div class='li'>
        <div class='left col'>
          <% field_set_tag '模板用户<a  style="cursor: hand;"  class="cancelusers">(不选择用户)</a>', :style => "padding: 5px;", :class => "ui-widget-content ui-corner-all" do %>
            <%=f.select :report_template_users, @all_users.map{|user| [user.name, user.id]}, {:selected => @perf_template.report_template_users.collect{|user|user.user_id}},  {:multiple => true, :style => "height:261px;width:95%;margin-left:2.5%;border:none;"}%>
          <%end%>
        </div>
        <div class='right col'>
          <fieldset style="padding: 5px;" class="ui-widget-content ui-corner-all">
            <%chart1_set = chart_set(1).nil? ? {} : chart_set(1)%>
            <legend>
              <%=check_box_tag :chart1_enabled, "", false, :style => "", :chart_name => "chart1", :class=>" chart-enabled"%>
              <%=label_tag :chart1_enabled, "图表一设置", :class => "", :style => ""%>
            </legend>
            <div class="chart1 chart">
              <input type="hidden" name="perf_template[chart_sets][][chart_seq]" value="1" class="chart1">
              <div class="li">
                <%=label_tag "perf_template[chart_sets][][chart_name]",'图表名称',:class=>'label'%>
                <%=text_field_tag "perf_template[chart_sets][][chart_name]", chart1_set.chart_name, :class=>" chart1"%>
              </div>
              <div class="li">
                <%=label_tag "perf_template[chart_sets][][chart_type]",'图表类型',:class=>'label'%>
                <%=select_tag "perf_template[chart_sets][][chart_type]", options_for_select(Rms::ReportTemplateCandidate.report_type_candidates, chart1_set.chart_type.nil? ? nil : chart1_set.chart_type.to_i), {:class=>" chart1"}%>
              </div>
              <div class="li">
                <%=label_tag "perf_template[chart_sets][][x_col]",'图表横轴',:class=>'label'%>
                <%=select_tag "perf_template[chart_sets][][x_col]", options_for_select([["", ""]]), {:id => "chart1-xcol", :except =>"chart1", :class => " chart1 x_axis chart1_x_axis"}%>
              </div>
              <div class="li">
                <fieldset style="padding: 1px;width:38%;" class="ui-widget-content ui-corner-all col left">
                  <legend>可选分组属性</legend>
                  <%=select_tag "chart1_candidate", [], {:multiple => true, :id=>"chart1-candidate", :class =>" chart1 chart1-except candidate time-gran-effect", :style => "height:100px;width:130px;border:none;"}%>
                </fieldset>
                <div class="col left" style="width:20px;height:100px;margin-top:5px;text-align:center;">
                  <%=image_tag "right.gif", :style => "margin-top: 40px;cursor:pointer;", :class=>"mover", :direct=>"right", :candidate => "chart1-candidate", :selected => "chart1-selected"%>
                  <%=image_tag "left.gif", :style => "margin-top: 20px;cursor:pointer;", :class=>"mover", :direct=>"left", :candidate => "chart1-candidate", :selected => "chart1-selected"%>
                </div>
                <fieldset style="padding: 1px;width:38%;" class="ui-widget-content ui-corner-all col left">
                  <legend>已选分组属性</legend>
                  <%=select_tag "perf_template[chart_sets][][group_col]", chart1_set.group_col, {:multiple => true, :id => "chart1-selected", :class => " chart1 chart1-except selected time-gran-effect", :style => "height:100px;width:95%;border:none;"}%>
                </fieldset>
              </div>
            </div>
          </fieldset>
        </div>

      </div>
      <div class='li'>
        <div class='left col' style="">
          <fieldset style="padding: 5px;" class="ui-widget-content ui-corner-all">
            <%chart2_set = chart_set(2).nil? ? {} : chart_set(2)%>
            <legend>
              <%=check_box_tag :chart2_enabled, "",false, :style => "", :chart_name => "chart2", :class=>" chart-enabled"%>
              <%=label_tag :chart2_enabled, "图表二设置", :class => "", :style => ""%>
            </legend>
            <div class="chart2 chart">
              <input type="hidden" name="perf_template[chart_sets][][chart_seq]" value="2" class="chart2">
              <div class="li">
                <%=label_tag "perf_template[chart_sets][][chart_name]",'图表名称',:class=>'label'%>
                <%=text_field_tag "perf_template[chart_sets][][chart_name]", chart2_set.chart_name,:class=>" chart2"%>
              </div>
              <div class="li">
                <%=label_tag "perf_template[chart_sets][][chart_type]",'图表类型',:class=>'label'%>
                <%=select_tag "perf_template[chart_sets][][chart_type]", options_for_select(Rms::ReportTemplateCandidate.report_type_candidates, chart2_set.chart_type.nil? ? nil : chart2_set.chart_type.to_i),{:class=>" chart2"}%>
              </div>
              <div class="li">
                <%=label_tag "perf_template[chart_sets][][x_col]",'图表横轴',:class=>'label'%>
                <%=select_tag "perf_template[chart_sets][][x_col]", options_for_select([["", ""]]), {:id => "chart2-xcol",:except =>"chart2", :class => " chart2 x_axis chart2_x_axis"}%>
              </div>
              <div class="li">
                <fieldset style="padding: 1px;width:38%;" class="ui-widget-content ui-corner-all col left">
                  <legend>可选分组属性</legend>
                  <%=select_tag :chart1_candidate, [], {:multiple => true, :id=>"chart2-candidate", :class =>" chart2 chart2-except candidate time-gran-effect", :style => "height:100px;width:130px;border:none;"}%>
                </fieldset>
                <div class="col left" style="width:20px;height:100px;margin-top:5px;text-align:center;">
                  <%=image_tag "right.gif", :style => "margin-top: 40px;cursor:pointer;", :class=>"mover", :direct=>"right", :candidate => "chart2-candidate", :selected => "chart2-selected"%>
                  <%=image_tag "left.gif", :style => "margin-top: 20px;cursor:pointer;", :class=>"mover", :direct=>"left", :candidate => "chart2-candidate", :selected => "chart2-selected"%>
                </div>
                <fieldset style="padding: 1px;width:38%;" class="ui-widget-content ui-corner-all col left">
                  <legend>已选分组属性</legend>
                  <%=select_tag "perf_template[chart_sets][][group_col]", [],{:multiple => true, :id => "chart2-selected", :class => " chart2 chart2-except selected time-gran-effect", :style => "height:100px;width:95%;border:none;"}%>
                </fieldset>
              </div>
            </div>
          </fieldset>
        </div>
        <div class='right col'>
          <fieldset style="padding: 5px;" class="ui-widget-content ui-corner-all">
            <%chart3_set = chart_set(3).nil? ? {} : chart_set(3)%>
            <legend>
              <%=check_box_tag :chart3_enabled, "",false, :style => "", :chart_name => "chart3", :class=>" chart-enabled"%>
              <%=label_tag :chart3_enabled, "图表三设置", :class => "", :style => ""%>
            </legend>
            <div class="chart3 chart">
              <input type="hidden" name="perf_template[chart_sets][][chart_seq]" value="3" class="chart3">
              <div class="li">
                <%=label_tag "perf_template[chart_sets][][chart_name]",'图表名称',:class=>'label'%>
                <%=text_field_tag "perf_template[chart_sets][][chart_name]", chart3_set.chart_name, :class=>" chart3"%>
              </div>
              <div class="li">
                <%=label_tag "perf_template[chart_sets][][chart_type]",'图表类型',:class=>'label'%>
                <%=select_tag "perf_template[chart_sets][][chart_type]", options_for_select(Rms::ReportTemplateCandidate.report_type_candidates, chart3_set.chart_type.nil? ? nil : chart3_set.chart_type.to_i),{:class=>' chart3'}%>
              </div>
              <div class="li">
                <%=label_tag "perf_template[chart_sets][][x_col]",'图表横轴',:class=>'label'%>
                <%=select_tag "perf_template[chart_sets][][x_col]", options_for_select([["", ""]]),{:id => "chart3-xcol", :except =>"chart3", :class => " chart3 x_axis chart3_x_axis"}%>
              </div>
              <div class="li">
                <fieldset style="padding: 1px;width:38%;" class="ui-widget-content ui-corner-all col left">
                  <legend>可选分组属性</legend>
                  <%=select_tag :chart3_candidate, [], {:multiple => true, :id=>"chart3-candidate",:class =>" chart3 chart3-except candidate time-gran-effect", :style => "height:100px;width:130px;border:none;"}%>
                </fieldset>
                <div class="col left" style="width:20px;height:100px;margin-top:5px;text-align:center;">
                  <%=image_tag "right.gif", :style => "margin-top: 40px;cursor:pointer;", :class=>"mover", :direct=>"right", :candidate => "chart3-candidate", :selected => "chart3-selected"%>
                  <%=image_tag "left.gif", :style => "margin-top: 20px;cursor:pointer;", :class=>"mover", :direct=>"left", :candidate => "chart3-candidate", :selected => "chart3-selected"%>
                </div>
                <fieldset style="padding: 1px;width:38%;" class="ui-widget-content ui-corner-all col left">
                  <legend>已选分组属性</legend>
                  <%=select_tag "perf_template[chart_sets][][group_col]", [],{:multiple => true, :id => "chart3-selected", :class => " chart3 chart3-except selected time-gran-effect", :style => "height:100px;width:95%;border:none;"}%>
                </fieldset>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class='li' align="center">
        <%= f.submit "确定", :name => nil %>
        <%= link_button_to "取消", :action => 'index' %>
      </div>
    </div>
  <%end%>
<%end%>
<script type="text/javascript">
  $(function(){
    checkDicGroup();
    checkTopn();
    checkChartSet();
    adjustGroupCol();
  })
</script>
