<%content_for :header_title do %>
  <div class="right"><%= export_to 'csv', "CSV", {:action =>"show"},:onclick=>"$(\"#query_condition\").attr(\"action\", this.href).submit();$(\"#query_condition\").attr(\"action\", \"/report/cmcc_reports/show/#{@report_template.id}\");enableSubmit();return false;" %></div>
  <div class="left"><%=@report_template.report_name %></div>
<%end %>
<div id="showdata" class="form">
  <%if @grid %>
    <% form_for :report_con ,@report_template,:url => { :controller=>'cmcc_reports',:action=>'show'} , :html =>{:method => 'post', :id=>"query_condition"} do |f| %>
      <%=render "/report/common_reports/time_select_bar", :f => f %>
      <%=render :partial =>"/report/perf_reports/chart" if @kpilist_data %>
      <%=render :partial => '/report/perf_reports/grid', :object =>@grid %>
      <%= bottom_show @pages, "report"%>
    <% end %>
  <%end %>
</div>

