<% content_for :head do %>
  <%= stylesheet_link_tag "ui/ui/ui.datepicker.css" %>
  <%= javascript_include_tag "ui/ui/i18n/ui.datepicker-zh-CN.js" %>
  <%= javascript_include_tag "ui/ui/ui.datepicker.js" %>
  <style type="text/css">
    .ui-grid-scrollable TABLE{
      width:100%;
    }
  </style>
  <script type="text/javascript">
    function customRange(input){
      return {
        minDate: (input.id == "end_time" ? $("#begin_time").datepicker("getDate") : null),
        maxDate: (input.id == "begin_time" ? $("#end_time").datepicker("getDate") : null)
      };
    }
    function resizeTable(){
      var height = document.documentElement.clientHeight;
      var top=$(".ui-grid-scroll-body").offset().top;
      height = height - top - 30;
      $(".ui-grid-scroll-body").css("height", height);
    }
    $(function(){
      $("#begin_time,#end_time").datepicker($.extend({}, $.datepicker.regional["zh-CN"], {
        showStatus: true,
        beforeShow: customRange
      }));
      resizeTable();
    });
  </script>
<%end %>
<%content_for :header_title do %>集客报表<%end %>
<div>
  <%=render :partial => 'layouts/region_selection'%>
  <%form_tag(url_for(:action=>'index'), :method => "get", :method=>"get") do %>
    <div id="control" class="control clearfix">
      <div class="left" style="margin-top:3px;margin-right: 5px;">
        <%=label_tag :areas, "区域：" ,:class=>' left', :style=>"margin-top:3px;margin-right:3px;"%>
        <%=text_field_tag :areas, params[:areas], :class=>' left', :style => "margin-top:3px;margin-left:1px;width:40px;", :id => "areas_name"%>
        <%=hidden_field_tag :netloc, params[:netloc], :id=>'domains' %>
        <%=hidden_field_tag :area_dns, params[:area_dns], :id=>'domain_dns'%>
      </div>
      <span style="float:left;margin-left:5px;">粒度：<%=select_tag :netloc_gran, options_for_select([["集客",4],["热点",5]], {:selected => params[:netloc_gran].to_i}) %></span>
      <span style="float:left;margin-left:5px;">时间：<%= text_field_tag "begin_time",params[:begin_time],:id =>'begin_time',:style=>'width:100px'%></span>
      <span style="float:left;margin-right:5px;">
        -<%= text_field_tag "end_time",params[:end_time],:id =>'end_time',:style=>'width:100px'%>
      </span>
      <span style="float:left;margin-left:5px;">
        时间粒度：<%=select_tag :time_gran, options_for_select([["全部",7],["月",1],['周',2],['日',3]],{:selected => params[:time_gran].to_i}) %>
      </span>
      <span style="float:left;margin-left:5px;"><%=submit_tag '确定',:name=>nil %></span>
      <ul class="ul export-box f5">
        <li>
          <%= export_to 'csv', "CSV", params %>
        </li>
      </ul>
    </div>
  <%end %>
  <%
  sort_url = params.merge({:page => nil})
  name_units = Rms::PerfType.index_units
%>
  <%ui_grid_for @grid,:scrollable =>true do |g,cols,data|%>
    <%g.head do %>
      <%g.r do%>
        <%  @grid.column_names.each do |col| %>
          <%=g.format_sort(col[:name], col[:name] + (name_units[col[:name]].nil? ? "":"(#{name_units[col[:name]]})"),
                :html =>{:width => 150},
                :url =>sort_url) %>
        <%end%>
      <%end%>
    <%end%>
    <%g.body do%>
      <%unless data.empty? %>
        <%data.each do |d| %>
          <%g.r do%>
            <%  cols.each_index do |i|%>
              <%if(cols[i][:name] == "日期")%>
                <%=g.d d[i].to_date.strftime("%Y-%m-%d")%>
              <%else%>
                <%=g.d Procedure::DataFormater.format(cols[i][:name], d[i])%>
              <%end%>
            <% end %>
          <% end %>
        <%end%>
      <%else%>
        <%g.r do%>
          <td colspan="10">当前没有结果</td>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
 <% if !@starbuck_results.nil? && @starbuck_results.total_entries != 0 %>
    <div style="margin-top:0.5em;" class="clearfix">
      <div class="left f4">显示<%=@starbuck_results.total_entries %>个结果中的<%=@starbuck_results.current_page == @starbuck_results.page_count ? (@starbuck_results.total_entries - @starbuck_results.per_page * (@starbuck_results.page_count - 1)): @starbuck_results.per_page %>个</div>
      <%=will_paginate @starbuck_results%>
    </div>
  <% end %>
</div>
