
<% content_for :header_title do %>
  <%if params[:report_type] == "0" %>
    所有WLAN日报
  <%elsif params[:report_type] == "1" %>
    所有WLAN周报
  <%elsif params[:report_type] == "2" %>
    所有WLAN月报
  <% elsif params[:report_type] == "4" %>
    所有C+W分流月报
  <% elsif params[:report_type] == "6" %>
    所有零流量AP月报
  <% elsif params[:report_type] == "7" %>
    所有质量分日报
  <% elsif params[:report_type] == "8" %>
    所有质量分析周报
  <% elsif params[:report_type] == "9" %>
    所有质量分析月报
  <% elsif params[:report_type] == "10" %>
    日报
  <% elsif params[:report_type] == "11" %>
    周报
  <% elsif params[:report_type] == "12" %>
    月报
  <% elsif params[:report_type] == "13" %>
    季报
  <% elsif params[:report_type] == "14" %>
    所有AP完好率日报
  <%end%>
<% end %>

<div>
  <% ui_grid_for @grid do |g, cols, data| %>
    <% g.head do %>
      <% g.r do %>
        <%= g.h "名称" %>
        <%= g.h "报表统计范围" %>
        <%= g.h "创建日期" %>
      <% end %>
    <% end %>
    <% g.body do %>
      <% if data.size >0 %>
        <% data.each do |d| %>
          <% g.r do %>
            <% if [4,6,7,8,9,10,11,12,13,14].include?(d[:report_type]) %>
              <%= g.d "<a href='#{d[:excel_href]}'>#{d[:name]}</a>" %>
            <% elsif d[:report_type] == 0 %>
              <%= g.d "<a href='#{d[:excel_href]}'>日粒度明细</a>" + "#{d[:zip_href].blank? ? "" : "<a style='margin-left:10px;' href='#{d[:zip_href]}'>小时粒度明细</a>"}" %>
            <% else %>
              <%= g.d "<a href='#{d[:href]}'>#{d[:name]}</a>" + "<a style='margin-left:10px;' href='#{d[:excel_href]}'>明细</a>" %>
            <% end %>
            <%= g.d d[:time_range] %>
            <%= g.d d[:created_at] %>
          <% end %>
        <% end %>
      <% else %>
        <td colspan="<%= 2+cols.size %>">当前没有数据。</td>
      <% end %>
    <% end %>
  <% end %>
  <div style="margin-top:0.5em;" class="clearfix">
    <% if !@reports.nil? && @reports.length > 0 %>
      <div class="left f4">显示<%=@reports.total_entries %>个结果中的<%=@reports.current_page == @reports.page_count ? (@reports.total_entries - @reports.per_page * (@reports.page_count - 1)): @reports.per_page %>个</div>
      <%=will_paginate @reports%>
    <% end %>
  </div>
</div>
