<% content_for :head do %>
  <%= stylesheet_link_tag "ui/ui/ui.datepicker.css" %>
  <%= javascript_include_tag "ui/ui/i18n/ui.datepicker-zh-CN.js"%>
  <%= javascript_include_tag "ui/ui/ui.datepicker.js"%>
  <script>
    function customRange(input){
      return {
        minDate: (input.id == "end_time" ? $("#begin_time").datepicker("getDate") : null),
        maxDate: (input.id == "begin_time" ? $("#end_time").datepicker("getDate") : null)
      };
    }
    $(document).ready(function(){
      $("#begin_time,#end_time").datepicker($.extend({}, $.datepicker.regional["zh-CN"], {
        showStatus: true,
        beforeShow: customRange
      }));
      $(".datelist").datepicker($.extend({}, $.datepicker.regional["zh-CN"], {
        showStatus: true
      }));
      $("#id").change(function(e){
        e = $(e.target);
        window.location.href = "/report/perf_reports?reporttype=<%=params[:reporttype]%>&id="+e.val();
      });
      $("#collapse").click(function(){
        $("#expand").show();
        $("#conditions").slideUp();
      });
      $("#expand-action").click(function(){
        $("#expand").hide();
        $("#conditions").slideDown();
      });
      $("#edit-condition").click(function(){
        $("#skip-query").attr("action", "/report/perf_reports");
        $("#skip-query").attr("disabled", false);
        $("#query_condition").submit();
      });

      //if($.browser.msie) {
      $.map($(".special-select option"), function(el,i){
        var self = $(el);
        self.attr('title',self.attr('text'));
      });
      $("#submit_conditions").click(function(){
        $("#guid").remove();
      });
      // }

      $("#query_condition").submit(function(e){
        $("#submit_conditions").val("分析中").attr("disabled", true);
      });
    });
    function enableSubmit(){
      $("#submit_conditions").val("确定").attr("disabled", false);
    }

    function addTargetForQuery(){
      $("#query_condition").attr("target", "_blank");
      $("#query_condition").attr("style","scrollbars=yes,width=550,height=500,screenX=150,screenY=60,location=0,directories=no,status=no,menubar=no,toolbar=no,resizable=no");

    }

    function removeTargetForQuery(){
      $("#query_condition").removeAttr("target");
    }
  </script>
<%end%>
<%content_for :header_title do%>
  <%if params[:reporttype] == 1%>
    性能报表
  <%elsif params[:reporttype] == 3%>
    专案报表
  <%elsif params[:reporttype] == 2%>
    告警报表
  <%elsif params[:reporttype] == 4%>
    资源报表
  <%end%>
<%end%>
<% form_for :report_con ,@query_template,:url => { :controller=>'perf_reports',:action=>'index'} , :html =>{:method => 'post', :id=>"query_condition"} do |f| %>
  <%= ui_highlight flash[:notice] unless flash[:notice].nil? %>
  <div class="control clearfix">
    <div class="filters">
      <%=hidden_field_tag "guid", params[:guid]%>
      <%=hidden_field_tag "reporttype",params[:reporttype]%>
      <%=hidden_field_tag "query_switch",params[:query_switch]%>
      <% if params[:query_switch] == "portConditions" %>
        <%=hidden_field_tag "ports",params[:ports]%>
      <%end%>
      <%params[:id] ||= -1%>
      <%=select_tag "id", options_for_select([["自定义分析","-1"]])+"<optgroup label='数据分析模板'>"+options_from_collection_for_select(@report_templates,"id","report_name",params[:id])+"</optgroup>", :style=>"width:200px;",:class=>'special-select' %>
      <label for="begin_time">开始时间</label>
      <%= text_field_tag "starTime",params[:starTime],:id =>'begin_time',:style=>'width:100px'%>
      <label for="end_time">结束时间</label>
      <%= text_field_tag "endTime",params[:endTime],:id =>'end_time',:style=>'width:100px' %>

      <%= f.submit "确定",:name => nil, :id => "submit_conditions" %>
    </div>
    <%if @grid%>
      <!-- <ul class="ul export-box f5">
    <li><%#= export_to 'csv', "CSV", {:action =>"index"},:onclick=>"$(\"#query_condition\").attr(\"action\", this.href).submit();$(\"#query_condition\").attr(\"action\", \"/report/perf_reports\");enableSubmit();return false;" %></li>
    <li><%= link_to image_tag("/images/export_csv.png", :title => "保存为Excel文件"), { :action => :export_to_csv }, :class => "csv-export-format", :onclick => "addTargetForQuery();$(\"#query_condition\").attr(\"action\", this.href).submit();removeTargetForQuery();$(\"#query_condition\").attr(\"action\", \"/report/perf_reports\");enableSubmit();return false;" %></li>
    </ul>-->
      <ul  class="ul export-box f5">
        <%= link_to image_tag("/images/export_csv.png", :title => "保存为Excel文件"), { :action => "export"}, :class => "csv-export-format", :onclick => "addTargetForQuery();$(\"#query_condition\").attr(\"action\", this.href).submit();removeTargetForQuery();$(\"#query_condition\").attr(\"action\", \"/report/perf_reports\");$(\"#download\").attr(\"value\", \"export\");enableSubmit();return false;" %>
        <!--<%=render :partial => "export/export", :locals => {:title => "导出报表", :params => (params.merge("export_file" => 1,"export_type" => "report"))}%>
        <li>
          <img title="保存为Excel文件" src="/images/export_csv.png" style="cursor: pointer;" id="export"/>
        </li>-->
      </ul>

    <% end %>
  </div>
  <div id="showdata" class="form">
    <%if @grid%>
      <input id="skip-query" type="hidden" name="query" disabled="true" value="skip"/>
      <%@perf_template.attributes.except("hourlist", "dic_group", "kpilist").each_pair do |key, value|%>
        <input type="hidden" name="perf_template[<%=key%>]" value="<%=value%>"/>
      <%end%>
      <%@perf_template.attributes.only("hourlist", "dic_group", "kpilist").each_pair do |key, value|%>
        <%value.split(",").each do |v|%>
          <input type="hidden" name="perf_template[<%=key%>][]" value="<%=v%>"/>
        <%end unless value.nil?%>
      <%end%>
      <%unless params[:sort].nil?%>
        <input type="hidden" name="sort" value="<%=params[:sort]%>"/>
      <%end%>
      <%=render :partial =>"query_condition" if @template_params %>
      <%=render :partial =>"chart" if @kpilist_data %>
      <% @report_type = params[:reporttype] %>
      <%=render :partial => 'grid', :object =>@grid %>
      <%= bottom_show @pages, "report"%>
    <% elsif params[:id] == -1%>
      <%if @missing_time%>
        <%=ui_highlight "请选择开始时间和结束时间",:id =>"notwindowtips"%>
      <%elsif @missing_time_list%>
        <%=ui_highlight "至少选择一个时间段",:id =>"notwindowtips"%>
      <%end%>
      <%if params[:reporttype] == 1%>
        <%=render :partial => '/report/customize/performance', :locals => {:f => f}%>
      <%elsif params[:reporttype] == 3%>
        <%=render :partial => '/report/customize/special_case', :locals => {:f => f} %>
      <%elsif params[:reporttype] == 2%>
        <%=render :partial => '/report/customize/alarm', :locals => {:f => f} %>
      <%elsif params[:reporttype] == 4%>
        <%=render :partial => '/report/customize/resource', :locals => {:f => f} %>
      <%end%>
    <%else%>
      <%=ui_highlight "请选择开始时间和结束时间",:id =>"notwindowtips"%>
    <% end %>
  </div>
<% end %>

