<%
tr_class = cycle("odd", "even")
%>
<tr class="<%= tr_class %>">
  <td width="2%" align="left"><%=check_box_tag("ids[]",value="#{table_li['id']}",checked = false, options = {})%></td>
  <% if @create_user.nil? %>
    <td class="actions ui-grid-actions">
      <%=link_to ui_icon('pencil'),:controller=>controller.controller_name ,:action=>:edit ,:id=>table_li['id'],:title=>"修改"%>
      <%=link_to ui_icon('close'), {:action => 'destroy',:id=>table_li.id}, :method=>:delete, :title=>"删除" %>&nbsp;
    </td>
  <% else %>
    <% if table_li.userid == @current_user.id %>
      <td class="actions ui-grid-actions">
        <%=link_to ui_icon('pencil'),:controller=>controller.controller_name ,:action=>:edit ,:id=>table_li['id'],:title=>"修改"%>
        <%=link_to ui_icon('close'), {:action => 'destroy',:id=>table_li.id}, :method=>:delete, :title=>"删除" %>&nbsp;
      </td>
    <% else %>
    <% end %>
  <% end %>
  <% column_display_names.each do |name|%>
    <%
    n = name.to_sym
    if name == 'report_type'
      hsh = {1 => '性能报表', 2 => '告警报表', 3 => '专案报表', 4 => '资源报表'}
      d = hsh[table_li[n]]
    elsif name == 'netloc_gran'
      hsh = {0 => '省份', 1 => '地市', 2 => '郊县', 3 => '区局',4 => '分局',
        5 => '热点', 6 => '楼宇', 7 => '楼层',8 => 'AC', 9 => '交换机',
        10 => '交换机端口', 11 => 'AP', 12 => 'SSID'}
      d = hsh[table_li[n].to_i]
    elsif name == 'time_gran'
      hsh = {0 => '季度', 1 => '月份', 2 => '周', 3 => '日期',4 => '时段'}
      d = hsh[table_li[n].to_i]
    else
      d = table_li[n]
    end
  %>
    <td class="<%=ActionController::RecordIdentifier.singular_class_name(table_li)%>_<%=name%>">
      <%=(d.nil? || d=='') ? '&nbsp':d %>
    </td>
  <%end%>

</tr>
