<% content_for :head do %>
  <%#= stylesheet_link_tag 'onus',:media=>'all' %>
  <%#= javascript_include_tag 'onus' %>
  <style type="text/css">
    .users{
    }
  </style>
  <script type="text/javascript">
    var getSelectBox = function(){
      return $("#devices_grid").find("input[name^=ids]:checked");
    };
    jQuery(function(){
      var form = $('#alarm-form');
      $(".devices_control input[name=delete]").click(function(){
        var ids = getSelectBox();
        if(ids.length > 0){
          var create_id = ids.attr("value");
          var login = $("#login").attr("value");
          var current_userid = $("#userid").attr("value");
          if(login != 'root'){
            if(current_userid !=create_id){
              alert("不是你创建的模板你不能删除");
            }
            else{
              if(confirm("确认删除选中数据？"))
                form.submit();
            }
          }
          else{
            if(confirm("确认删除选中数据？"))
              form.submit();
          }
        }
        else{
          alert("请选择模板");
        }
      });

    });
  </script>
<% end %>
<%content_for :header_title do%>
  告警报表模板
<%end%>
<%= ui_highlight flash[:notice] unless flash[:notice].nil? %>
<div class="control clearfix">
  <p class="actions devices_control">
    <%=link_button_to "新建" ,{:action=>'new'},:class =>controlled("report/alarm_templates/new")%>
    <%=tag('input',:type =>'button',:value =>'删除',:name => 'delete',:class =>controlled("report/alarm_templates/destroy") )%>
  </p>
  <div>
    <table>
      <tr>
        <td>
          <%= tag("input", :type => 'hidden', :value => @current_user.login, :name => 'login', :id => 'login') %>
        </td>
        <td>
          <%= tag("input", :type => 'hidden', :value => @current_user.id, :name => 'userid', :id => 'userid') %>
        </td>
      </tr>
    </table>
  </div>
</div>
<%
sort_url = params.merge({:page => nil})
%>
<div id="devices_grid">
  <% form_tag(url_for(:action => 'destroy'), :method=>:post ,:id =>'alarm-form') do%>
    <% ui_grid_for @grid do |g, cols, data| %>
      <% g.head do %>
        <% g.r do %>
          <%= g.h check_box_tag('select_all'), :class =>"ui-grid-select" %>
          <%= g.h "", :style => 'width:40px' %>
          <%= g.format_sort(:report_name, :html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:report_type, :html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:netloc_gran, :html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:time_gran, :html => {:width => nil}, :url =>sort_url) %>
        <% end %>
      <% end %>
      <% g.body do %>
        <% if data.size >0 %>
          <% data.each do |d| %>
            <% g.r do %>
              <%= g.d check_box_tag('ids['+d.id.to_s+']',d.userid),:class => "ui-grid-select" %>
              <% g.d :class =>"ui-grid-actions" do %>
                <%= link_to ui_icon('pencil'), {:action => 'edit', :id => d.id },{ :title => "编辑",:class =>controlled("report/alarm_templates/edit")} %>
                <% if @create_user.nil? %>
                  <%= link_to ui_icon('close'), {:action => 'destroy', :id =>d.id},{:confirm => "确认删除模板？",:method => :delete,:class =>controlled("report/alarm_templates/destroy")}, {:class => 'delete', :title => "删除", :id => d.id} %>
                <% else %>
                  <% if d[:userid] == @current_user.id %>
                    <%= link_to ui_icon('close'), {:action => 'destroy', :id =>d.id},{:confirm => "确认删除模板？",:method => :delete,:class =>controlled("report/alarm_templates/destroy")}, {:class => 'delete', :title => "删除", :id => d.id} %>
                  <% else %>
                    <%#= link_to ui_icon('pencil')  %>
                    <%#= link_to ui_icon('close')  %>
                  <% end %>
                <% end %>
              <% end %>
              <%=g.d d[:report_name] %>
              <%
              hsh = {1 => '性能报表', 2 => '告警报表', 3 => '专案报表', 4 => '资源报表'}
            %>
              <%=g.d hsh[d[:report_type]] %>
              <%
              hsh = {0 => '省份', 1 => '地市', 2 => '郊县', 3 => '区局',4 => '分局',
                5 => '热点', 6 => '楼宇', 7 => '楼层',8 => 'AC', 9 => '交换机',
                10 => '交换机端口', 11 => 'AP', 12 => 'SSID'}
            %>
              <%=g.d hsh[d[:netloc_gran]] %>
              <%
              hsh = {0 => '季度', 1 => '月份', 2 => '周', 3 => '日期',4 => '时段',6=>"仅按小时聚合",7=>"全部"}
            %>
              <%=g.d hsh[d[:time_gran]] %>
            <% end %>
          <% end %>
        <% else %>
          <td colspan="<%= 2+cols.size %>">当前没有数据。</td>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= bottom_show @alarm_templates%>
</div>



<%# content_for :head do %>
<%#*<script type="text/javascript">%>
<%#*</script>%>
<%#end%>
<%# unless flash[:notice].nil? %>
<%#*<div class="ui-state-highlight ui-corner-all highlight">%>
<%#*<em class="ui-icon ui-icon-info"></em><strong>Hey!</strong>%>
<%#=flash[:notice]%>
<%#*</div>%>
<%#end%>

<!--<div class="<%=controller.controller_name%>">-->
<%#= render  :partial => 'table',:object=>@table %>
<%#*<div style="float:right;margin-top:1em;">%>
<%# !if @alarm_templates.nil? && @alarm_templates.length > 0 %>
<%#=will_paginate @alarm_templates,
#:class=>"ui-pagination",
:inner_window => 1,
:outer_window => 1,
:prev_label => '上一页',
:next_label => '下一页' %>
<%# end %>
<%#*</div>%>
<%#*</div>%>

