<% content_for :head do %>
  <%#= stylesheet_link_tag 'onus',:media=>'all' %>
  <%#= javascript_include_tag 'onus' %>
  <style type="text/css">
    .users{
    }
  </style>
  <script type="text/javascript">
    var getSelectBox = function(){
      return $("#devices_grid").find('input[name^=ids]:checked');
    };
    jQuery(function(){
      var form = $('#perf-form');
      $(".devices_control input[name=delete]").click(function(){
        var ids = getSelectBox();
        if(ids.length > 0){
          var create_id = ids.attr('value');
          var login = $("#login").attr("value");
          var current_userid = $("#userid").attr("value");
          if(login != 'root'){
            if(current_userid != create_id){
              alert("不是你创建的模板你不能删除");
            }else{
              if(confirm("确认删除模板？"))
                form.submit();
            }
          }
          else{
            if(confirm("确认删除模板？"))
              form.submit();
          }
        }
        else{
          alert("请选择一个模版");
        }
      });
    });
  </script>
<% end %>
<%content_for :header_title do%>
  性能报表模板
<%end%>
<%= ui_highlight flash[:notice] unless flash[:notice].nil? %>
<div class="control clearfix">
  <p class="actions devices_control">
    <%=link_button_to "新建" ,{:action=>'new'},:class =>controlled("report/perf_templates/new")%>
    <%=tag('input',:type =>'button',:value =>'删除',:name => 'delete',:class =>controlled("report/perf_templates/destroy") )%>
  </p>
  <div class="filters">
    <table>
      <tr>
        <td>
          <%= tag('input', :type => 'hidden',:value => @current_user.login ,:name => 'login', :id => 'login') %>
        </td>
        <td>
          <%= tag('input', :type => 'hidden',:value => @current_user.id ,:name => 'userid', :id => 'userid') %>
        </td>
      </tr>
    </table>
  </div>
</div>
<%
sort_url = params.merge({:page => nil})
%>
<div id="devices_grid">
  <% form_tag(url_for(:action => 'destroy'), :method=>:post ,:id =>'perf-form') do%>
    <% ui_grid_for @grid do |g, cols, data| %>
      <% g.head do %>
        <% g.r do %>
          <%= g.h check_box_tag('select_all'), :class =>"ui-grid-select" %>
          <%= g.h "", :style => 'width:40px' %>
          <%= g.format_sort(:report_name, :html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:group_type, :html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:netloc_gran, :html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:time_gran, :html => {:width => nil}, :url =>sort_url) %>
        <% end %>
      <% end %>
      <% g.body do %>
        <% if data.size >0 %>
          <% data.each do |d| %>
            <% g.r do %>
              <%= g.d check_box_tag('ids['+d.id.to_s+']',d.userid),:class => "ui-grid-select" %>
              <% g.d :class =>"ui-grid-actions" do %>
                <%= link_to ui_icon('pencil'), {:action => 'edit', :id => d.id },{ :title => "编辑",:class =>controlled("report/perf_templates/edit")} %>
                <% if @create_user.nil? %>
                  <%= link_to ui_icon('close'), {:action => 'destroy', :id =>d.id},{:confirm => "确认删除模板？",:method => :delete,:class =>controlled("report/perf_templates/destroy")}, {:class => 'delete', :title => "删除", :id => d.id} %>
                <% else %>
                  <% if d[:userid] == @current_user.id %>
                    <%= link_to ui_icon('close'), {:action => 'destroy', :id =>d.id},{:confirm => "确认删除模板？",:method => :delete,:class =>controlled("report/perf_templates/destroy")}, {:class => 'delete', :title => "删除", :id => d.id} %>
                  <% else %>
                    <%#= link_to ui_icon('pencil')  %>
                    <%#= link_to ui_icon('close')  %>
                  <% end %>
                <% end %>
              <% end %>
              <%=g.d d[:report_name] %>
              <%
              hsh = {1 => '集团报表', 2 => '常用报表', 3 => '普通报表'}
            %>
              <%=g.d hsh[d[:group_type]] %>
              <%
              hsh = {0 => '省份', 1 => '地市', 2 => '郊县', 8 => 'AC', 3 => '单位',4 => '代维厂家',
                5 => '热点', 6 => '楼宇', 7 => '楼层',8 => 'AC', 9 => '交换机',
                10 => '交换机端口', 11 => 'AP', 12 => 'SSID'}
            %>
              <%=g.d hsh[d[:netloc_gran]] %>
              <%
              hsh = {0 => '季度', 1 => '月份', 2 => '周', 3 => '日期',4 => '时段',6=>"仅按小时聚合",7=>"全部"}
            %>
              <%=g.d hsh[d[:time_gran]]%>
            <% end %>
          <% end %>
        <% else %>
          <td colspan="<%= 2+cols.size %>">当前没有数据。</td>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= bottom_show @perf_templates%>
</div>






