<% content_for :head do %>
  <%= stylesheet_link_tag "ui/ui/ui.datepicker.css" %>
  <%= javascript_include_tag "ui/ui/i18n/ui.datepicker-zh-CN.js"%>
  <%= javascript_include_tag "ui/ui/ui.datepicker.js"%>
  <script>
    function customRange(input){
      return {
        minDate: (input.id == "date-end" ? $("#date-start").datepicker("getDate") : null),
        maxDate: (input.id == "date-start" ? $("#date-end").datepicker("getDate") : null)
      };
    }
    $(document).ready(function(){
      $("#date-start,#date-end").datepicker($.extend({}, $.datepicker.regional["zh-CN"], {
        showStatus: true,
        beforeShow: customRange
      }));
      $(".datelist").datepicker($.extend({}, $.datepicker.regional["zh-CN"], {
        showStatus: true
      }));
      $("#id").change(function(e){
        e = $(e.target);
        window.location.href = "/report/perf_reports?reporttype=<%=params[:reporttype]%>&id="+e.val();
      });
      $("#collapse").click(function(){
        $("#expand").show();
        $("#conditions").slideUp();
      });
      $("#expand-action").click(function(){
        $("#expand").hide();
        $("#conditions").slideDown();
      });
      $("#edit-condition").click(function(){
        $("#skip-query").attr("action", "/report/perf_reports");
        $("#skip-query").attr("disabled", false);
        $("#query_condition").submit();
      });

      //if($.browser.msie) {
      $.map($(".special-select option"), function(el,i){
        var self = $(el);
        self.attr('title',self.attr('text'));
      });
      $("#submit_conditions").click(function(){
        $("#guid").remove();
      });
      // }

      $("#query_condition").submit(function(e){
        $("#submit_conditions").val("分析中").attr("disabled", true);
      });
    });
	function enableSubmit(){
		$("#submit_conditions").val("确定").attr("disabled", false);
	}
  </script>
<%end%>

    
    <div class="control clearfix" style=" margin: 0.5em 0">
      <div class="filters">
        <%=hidden_field_tag "sort",params[:sort]%>
        <%=hidden_field_tag "id",params[:id],:value => @report_template.id%>
        时间
        <label for="date-start" style="">开始时间</label>
        <%= text_field_tag "starTime",params[:starTime]||=@report_template.startdate.strftime('%Y-%m-%d'),:id =>'date-start',:style=>'width:100px;float:none'%>
        <label for="date-end">结束时间</label>
        <%= text_field_tag "endTime",params[:endTime]||=@report_template.enddate.strftime('%Y-%m-%d'),:id =>'date-end',:style=>'width:100px;float:none' %>
        <%= f.submit "确定",:name => nil, :id => "submit_conditions" %>
      </div>
    </div>

