<% content_for :head do %>
<% end %>
<% content_for :header_title, "AC详细信息"%>
<%= ui_highlight flash[:notice] unless flash[:notice].nil? %>
<div class="control clearfix">
  <ul class="ul export-box">
    <li><%= export_to 'csv', "CSV", params %></li>
  </ul>
</div>
<%
sort_url = params.merge({:page => nil})
%>
<div  id="devices_grid">
 <% form_tag(url_for(:action => 'show'), :method=>:get) do%>
    <%=hidden_field_tag '_method', ''%>
    <% ui_grid_for @grid ,:scrollable =>false do |g, cols, data| %>
      <% g.head do %>
        <% g.r do %>
          <%= g.format_sort(:serial,"序号", :html => {:width => nil}) %>
          <%= g.format_sort(:accn,"名称", :html => {:width => nil}) %>
          <%= g.format_sort(:ip,"IP地址", :html => {:width => nil}) %>
          <%= g.format_sort(:citycn,"所属地市", :html => {:width => nil}) %>
          <%= g.format_sort(:devie_manu,"厂家", :html => {:width => nil}) %>
          <%= g.format_sort(:ac_type,"型号", :html => {:width => nil}) %>
          <%= g.format_sort(:address,"位置", :html => {:width => nil}) %>
          <%= g.format_sort(:ap_num,"AP数量", :html => {:width => nil}) %>
          <%= g.format_sort(:dhcp_req_rate,"对应AC设备DHCP请求成功率(上月)", :html => {:width => nil}) %>
          <%= g.format_sort(:ac_octes,"对应AC日流量", :html => {:width => nil}) %>
        <% end %>
      <% end %>
      <% g.body do %>
        <% if data.size >0 %>
          <% data.each do |d| %>
            <% g.r do %>
              <%=g.d d[:serial].to_i%>
              <%=g.d d[:accn]%>
              <%=g.d d[:ip]%>
              <%=g.d d[:citycn]%>
              <%=g.d d[:devie_manu]%>
              <%=g.d d[:ac_type]%>
              <%=g.d d[:address]%>
              <%=g.d d[:ap_num].to_i%>
              <%=g.d d[:dhcp_req_rate].nil? ? 0.0:d[:dhcp_req_rate]%>
              <%=g.d d[:ac_octes].nil? ? 0.0:d[:ac_octes]%>
            <% end %>
          <% end %>
        <% else %>
          <td colspan="<%= 2+cols.size %>">当前没有数据。</td>
        <% end %>
      <% end %>
    <% end %>
    <%end%>
</div>
<%= bottom_show @ac_detail%>
