<% content_for :head do %>
  <style>
    .advanced .field {
      border:1px inset #BBD8E7;
      float:left;
      height:100px;
      margin-left:5px;
      overflow:auto;
      width:110px;
    }
  </style>
  <script type="text/javascript">
    $(function(){
      var years = $('.advanced .year');
      var monthes = $('.advanced .month');
      var weeks = $('.advanced .week');
      var weekspan = $('#week label span');
      function setWeek(){
        var year = years.filter(":checked").val();
        var month = monthes.filter(":checked").val();
        if(year && month){
          month --;
          var t = new Date(), day;
          t.setYear(year);
          t.setMonth(month);
          t.setDate(1);
          day = t.getDay();
          var start = day > 1 ? (9 - day) : 2 - day, end = start + 6;
          var n = 0, span, pa, len = 31;
          t.setDate(len);
          while(t.getDate() != len){
            len--;
            t.setMonth(month);
            t.setDate(len);
          }
          weeks.each(function(e){
            this.checked = false;
            this.value = "" + start + "-" + end;
            span = weekspan.eq(n).html("(" + start + "-" + end + ")");
            pa = span.parents("span:first").hide();
            if(end > len) pa.hide();
            else pa.show();
            start += 7;
            end += 7;
            n++;
          });
        }
      }
      years.click(function(ev){
        setWeek();
      });
      monthes.click(function(ev){
        setWeek();
      });
      loadTime();
      function loadTime(){
        var yearCheck = $(".year:checked").length;
        var monthCheck = $(".month:checked").length;
        if (yearCheck == 1 && monthCheck == 1){
          setWeek();
          <% unless params[:week].nil?%>
              $(".week:input[value=<%= params[:week] %>]").attr("checked", true);
          <% end %>
        }
      };
      $("#region-condition").submit(function(ev){
        var year = $('.advanced .year').filter(":checked").val();
        var month = $('.advanced .month').filter(":checked").val();
        var week = $('.advanced .week').filter(":checked").val();
        var index = $('.advanced .week').filter(":checked").attr('index');
        var timeVal = $('.time_range').val();
        $("#submit").val("分析中").attr("disabled", true);
        if(year){
          var text = year + "年";
          var value = year;
          if(month){
            text += month + "月";
            value += '-' +month;
            if(week){
              text += ' 第' + index + '周' +'(' + week + ')';
              value = value + '-' + week.split('-')[0] + ',' + value + '-'+week.split('-')[1];
            }
          }
          var option = "<option type='advanced-time' value='" +value+ "' selected='true'>" + text + "</option>";
          var has_option = $(".advanced .selected-field option[value="+value+"]");
          if(has_option.length == 0){
            $('.advanced .selected-field').append(option);
            //$('.time_range').append(option);
            $("#saved_time_range_text").val(text);
            $("#saved_time_range_value").val(value);
          }
        }else if (timeVal == 1 || timeVal == 2){
          alert('请选择时间');
          $("#saved_time_range_text").val(null);
          $("#saved_time_range_value").val(null);
           $("#submit").val("确定").attr("disabled", false);
          return false;
        }
      });
      //reset
      //$('.advanced input:checked').each(function(){ this.checked = false});;
      //$("#year>input").each(function(){if(this.value == <%= params[:year] %>){this.checked = true}});
      //$("#month>input").each(function(){if(this.value == <%= params[:month] %>){this.checked = true}});
    });
  </script>
<%end%>

<div class="advanced f4" style="display:none;">
  <%field_set_tag "自定义时间范围", :class => "ui-widget-content ui-corner-all" do %>
    <% if [1, 2].include?(params[:time_range].to_i) %>
      <div style="margin-left: 10px;">此次维度分析时间范围：<%= params[:saved_time_range_text]%></div>
    <% end %>
    <table >
      <tr>
        <td>
          <div id="year" class="field">
            <%
            Time.now.year.downto((Time.now - 2.years).year) do |y|
            %>
              <input id="y<%=y%>" type="radio" value="<%=y%>" name="year" class="year"/>
              <label for="y<%=y%>"><%=y%>年</label><br />
            <%
            end
          %>
          </div>
          <div id="month" class="field">
            <input id="mall" type="radio" value="" name="month" class="month"/>
            <label for="mall">全部</label><br />
            <%
            1.upto 12 do |m|
            %>
              <input id="m<%=m%>" type="radio" value="<%=m%>" name="month" class="month"/>
              <label for="m<%=m%>"><%=m%>月</label><br />
            <%
            end
          %>
          </div>
          <div id="week" class="field">
            <%
            1.upto 4 do |w|
            %>
              <span><input id="w<%=w%>" type="radio" value="" name="week" class="week" index="<%=w%>"/>
              <label for="w<%=w%>" class="week-info">第<%=w%>周<span></span></label></span><br />
            <%
            end
          %>
          </div>
        </td>
      </tr>
    </table>
  <%end%>
</div>

