<% content_for :head do %>
  <%= stylesheet_link_tag "ui/ui/ui.datepicker.css" %>
  <%= javascript_include_tag "ui/ui/i18n/ui.datepicker-zh-CN.js" %>
  <%= javascript_include_tag "ui/ui/ui.datepicker.js" %>
  <%=javascript_include_tag 'ui/ui/jquery.multiSelect'%>
  <%=stylesheet_link_tag 'ui/ui/jquery.multiSelect'%>
  <style type="text/css">
    .ui-grid-scrollable TABLE{
      width:100%;
    }
  </style>
  <script type="text/javascript">
    function customRange(input){
      return {
        minDate: (input.id == "end_time" ? $("#begin_time").datepicker("getDate") : null),
        maxDate: (input.id == "begin_time" ? $("#end_time").datepicker("getDate") : null)
      };
    };

    function show_netloc(){
      var gran = $("#area_gran").val();
      if(gran == 1){
        $("#netloc").show();
      }else{
        $("#netloc").hide();
      }

    }

    $(function(){
      $("#begin_time,#end_time").datepicker($.extend({}, $.datepicker.regional["zh-CN"], {
        showStatus: true,
        beforeShow: customRange
      }));

      show_netloc();

      $("#area_gran").change(function(){
        show_netloc();
      })

      $("#areas").multiSelect({ selectAll: true,selectAllText:"全部", noneSelected:"地市选项", oneOrMoreSelected:"已选择%个地市" });

      //纬度分析
      var defSelect = $('.time_range').attr("value");
      if(defSelect == 3){
        $('.advanced').hide();
        $("#dataSelect").show();
      }
      else if(defSelect == 2){
        $('.advanced').show();
        $(".advanced #week").show();
        $("#dataSelect").hide();
        loadTime();
      }
      else if(defSelect == 1){
        $('.advanced').show();
        $(".advanced #week").hide();
        loadTime();
        $(".advanced #week input:checked").attr("checked", false);
      }
      else{
        $('.advanced').hide();
        $("#dataSelect").hide();
      }
      $('.time_range').change(function(item){
        var select = item.target.value;
        if(select == 1 || select == 2){
          $('.advanced').slideDown();
          $(".advanced input:checked").attr("checked", "");
          $("#dataSelect").slideUp();
          loadTime();
          if(select == 2){
            $(".advanced #week").show();
          }
          else{
            $(".advanced #week").hide();
            $(".advanced #week input:checked").attr("checked", false);
          }
        }
        else if(select == 3){
          $('.advanced').slideUp();
          $("#dataSelect").slideDown();
        }
        else {
          $('.advanced').slideUp();
          $("#dataSelect").slideUp();
        }
      });
      function loadTime(){
  <% unless params[:year].nil? %>
          $("#year").find("input[value=<%= params[:year] %>]").attr("checked", true);
  <% end %>
  <% unless params[:month].nil? %>
          $("#month").find("input[value=<%= params[:month] %>]").attr("checked", true);
  <% end %>
      };
    });
  </script>
<%end %>
<%content_for :header_title do %>分终端统计报表<%end %>
<div>
  <%form_tag(url_for(:action=>'index'), :method => "get", :id => "region-condition") do %>
    <div id="control" class="control clearfix">
      <span style="float:left;margin-right:5px;margin-top:3px;">
        区域粒度：<%= select_tag :area_gran, options_for_select([["省份", 0], ["地市", 1]], params[:area_gran].to_i) %>
      </span>
      <div id="netloc">
        <span style="float:left;margin-right:5px;margin-top:3px;">
          区域： <%=select_tag :areas, options_for_select(@cities, params[:areas]), {:multiple => true,:style => "width:85px;"}%>
        </span>
      </div>
      <span style="float:left;margin-right:5px;margin-left:5px;margin-top:3px;">
        时间范围：<%=select_tag :time_range,options_for_select([['昨天', "yesterday"], ['上月', "last_month"], ['自定义（日）', "3"], ['自定义（月）', "1"]],
          params[:time_range]),:class=>'time_range'%>
      </span>
      <span style="float:left;margin-right:5px;"><%=hidden_field_tag :saved_time_range_text, params[:saved_time_range_text]%></span>
      <span style="float:left;margin-right:5px;"><%=hidden_field_tag :saved_time_range_value, params[:saved_time_range_value]%></span>
      <span style="float:left;margin-right:5px;"><%=submit_tag '确定',:name=>nil %></span>
      <ul class="ul export-box f5">
        <li>
          <%= export_to 'csv', "CSV", params %>
        </li>
      </ul>
    </div>
    <div id="dataSelect" style="display:none">
      <%field_set_tag "自定义时间范围", :class => "ui-widget-content ui-corner-all" do %>
        <%=begin_time %>
        <%=end_time %>
      <%end%>
    </div>
    <%=render :partial => 'advanced'%>
  <%end %>
  <%
  sort_url = params.merge({:page => nil})
%>

  <% form_tag(url_for(:action => 'index'), :method=>:post ,:id =>'terminal-form') do%>
    <%= hidden_field_tag :redirect_to, url_for(params) %>
    <% ui_grid_for @grid,:scrollable =>true do |g, cols, data| %>
      <% g.head do %>
        <% g.r do %>
          <%= g.format_sort(:terminaltype, :html => {:width =>125}, :url =>sort_url) %>
          <% if params[:area_gran].to_i == 1 %>
            <%= g.format_sort(:cityname, :html => { :width =>125}, :url =>sort_url) %>
          <% end %>
          <% if params[:time_range] == '1' ||  params[:time_range] == "last_month" %>
            <%= g.format_sort(:sampleyear, :html => {:width => 125}, :url =>sort_url) %>
            <%= g.format_sort(:samplemonth, :html => {:width => 125}, :url =>sort_url) %>
          <% else %>
            <%= g.format_sort(:sampledate, :html => {:width => 125}, :url =>sort_url) %>
          <% end %>
          <%= g.format_sort(:wlanusenum, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:webnum, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:clientnum, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:othernum, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:publicusernum, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:campususernum, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:businesstraffic, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:authenticatebusinesstraffic, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:localauthenticatetraffic, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:webtimes, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:clienttimes, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:othertimes, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:publicusertraffic, :html => {:width => 125}, :url =>sort_url) %>
          <%= g.format_sort(:campususertraffic, :html => {:width => 125}, :url =>sort_url) %>
        <% end %>
      <% end %>
      <% g.body  :style => ("height:300;word-wrap: break-word;") do %>
        <% if data.size >0 %>
          <% data.each do |d| %>
            <% g.r do %>
              <%=g.d d[:terminaltype]%>
              <% if params[:area_gran].to_i == 1 %>
                <%= g.d d[:cityname] %>
              <% end %>
              <% if params[:time_range] == '1' ||  params[:time_range] == "last_month" %>
                <%=g.d d[:sampleyear]%>
                <%=g.d d[:samplemonth]%>
              <%else%>
                <%=g.d d[:sampledate].strftime("%Y-%m-%d")%>
              <% end %>
              <%=g.d d[:wlanusenum]%>
              <%=g.d d[:webnum]%>
              <%=g.d d[:clientnum]%>
              <%=g.d d[:othernum]%>
              <%=g.d d[:publicusernum]%>
              <%=g.d d[:campususernum]%>
              <%=g.d d[:businesstraffic]%>
              <%=g.d d[:authenticatebusinesstraffic]%>
              <%=g.d d[:localauthenticatetraffic]%>
              <%=g.d d[:webtimes]%>
              <%=g.d d[:clienttimes]%>
              <%=g.d d[:othertimes]%>
              <%=g.d d[:publicusertraffic]%>
              <%=g.d d[:campususertraffic]%>
            <% end %>
          <% end %>
        <% else %>
          <td colspan="<%= 2+cols.size %>">当前没有数据。</td>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if !@results.nil? && @results.total_entries != 0 %>
    <div style="margin-top:0.5em;" class="clearfix">
      <div class="left f4">显示<%=@results.total_entries %>个结果中的<%=@results.current_page == @results.page_count ? (@results.total_entries - @results.per_page * (@results.page_count - 1)): @results.per_page %>个</div>
      <%=will_paginate @results%>
    </div>
  <% end %>
</div>
