
<%content_for :header_title do %>一键式报表<%end %>
<table width="100%">
  <tr>
    <td width="33%" valign="top">
      <div class="board ui-widget">
        <h4 class="board-header ui-widget-header ui-corner-top">日报</h4>
        <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
          <table width="100%">
            <%@daily_reports.each { |report| %>
              <tr>
                <%if !report.excel_href.nil? && !report.excel_href.empty? %>
                  <td width="85px;">(<%=report.time_range%>)</td>
                <td><a href="<%=report.excel_href%>"><image src="/images/zip_icon.jpg" /> 日粒度明细</a></td>
              <% end %>
              <% unless report.zip_href.blank? %>
                <td><image src="/images/zip_icon.jpg" /></td>
                <td>
                  <a href="<%=report.zip_href%>">小时粒度明细</a>
                </td>
              <% end %>
              </tr>
            <%}%>
            <%if @daily_reports.empty?%>
              <tr><td>当前没有报表</td></tr>
            <%else%>
              <tr><td colspan=4><hr/></td></tr>
              <tr><td colspan=4 align="right"><a href="/report/perf_reports/all_reports?report_type=0">更多</a></td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </td>
    <td width="33%" valign="top">
      <!--board start-->
      <div class="board ui-widget">
        <h4 class="board-header ui-widget-header ui-corner-top">周报</h4>
        <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
          <table width="100%">
            <%
            @weekly_reports.each { |report|
            %>
              <tr>
                <td><image src="/images/word_icon.jpg" /></td>
              <td><a href="<%=report.href%>"><%=report.name%></a></td>
              <!--<%if report.excel_href %>
                                            <td><image src="/images/excel_icon.jpg" /></td>
                                            <td>
                                              <a href="<%=report.excel_href%>">明细</a>
                                            </td>
              <% end %>-->
              </tr>
            <%}%>
            <%if @weekly_reports.empty?%>
              <tr><td>当前没有报表</td></tr>
            <%else%>
              <tr><td colspan=4><hr/></td></tr>
              <tr><td colspan=4 align="right"><a href="/report/perf_reports/all_reports?report_type=1">更多</a></td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </td>
    <td width="35%" valign="top">
      <div class="board ui-widget">
        <h4 class="board-header ui-widget-header ui-corner-top">月报</h4>
        <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
          <table width="100%">
            <%
            @monthly_reports.each { |report|
            %>
              <tr>
                <td><image src="/images/word_icon.jpg" /></td>
              <td><a href="<%=report.href%>"><%=report.name%></a></td>
              <!--<% if !report.excel_href.nil? && !report.excel_href.empty? %>
                                            <td><image src="/images/excel_icon.jpg" /></td>
                                            <td>
                                              <a href="<%=report.excel_href%>">明细</a>
                                            </td>
              <% end %>-->
              </tr>
            <%}%>
            <%if @monthly_reports.empty?%>
              <tr><td>当前没有报表</td></tr>
            <%else%>
              <tr><td colspan=4><hr/></td></tr>
              <tr><td colspan=4 align="right">
                  <a href="/report/perf_reports/all_reports?report_type=2">更多</a>
                </td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </td>
  </tr>
</table>
<table width="100%">
<tr>
  <td width="33%" valign="top">
    <div class="board ui-widget">
      <h4 class="board-header ui-widget-header ui-corner-top">质量分析日报</h4>
      <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
        <table width="100%">
          <% @quality_daily_reports.each { |report| %>
            <tr>
              <% unless report.excel_href.nil? %>
                <td width="10px;"><image src="/images/excel_icon.jpg" /></td>
              <td><a href="<%=report.excel_href%>"><%=report.name%> Excel明细</a></td>
            <% end %>
            </tr>
          <%}%>
          <%if @quality_daily_reports.empty?%>
            <tr><td colspan="4">当前没有报表</td></tr>
          <%else%>
            <tr><td colspan=4><hr/></td></tr>
            <tr><td colspan=4 align="right"><a href="/report/perf_reports/all_reports?report_type=7">更多</a></td></tr>
          <%end%>
        </table>
      </div>
    </div>
  </td>
  <td width="33%" valign="top">
    <!--board start-->
    <div class="board ui-widget">
      <h4 class="board-header ui-widget-header ui-corner-top">质量分析周报</h4>
      <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
        <table width="100%">
          <%
          @quality_weekly_reports.each { |report|
          %>
            <tr>
              <% unless report.excel_href.nil? %>
                <td width="10px;"><image src="/images/excel_icon.jpg" /></td>
              <td><a href="<%=report.excel_href%>"><%=report.name%> Excel明细</a></td>
            <% end %>
            </tr>
          <%}%>
          <%if @quality_weekly_reports.empty?%>
            <tr><td colspan="4">当前没有报表</td></tr>
          <%else%>
            <tr><td colspan=4><hr/></td></tr>
            <tr><td colspan=4 align="right"><a href="/report/perf_reports/all_reports?report_type=8">更多</a></td></tr>
          <%end%>
        </table>
      </div>
    </div>
  </td>
  <td width="35%" valign="top">
    <div class="board ui-widget">
      <h4 class="board-header ui-widget-header ui-corner-top">质量分析月报</h4>
      <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
        <table width="100%">
          <%
          @quality_monthly_reports.each { |report|
          %>
            <tr>
              <% unless report.excel_href.nil? %>
                <td width="10px;"><image src="/images/excel_icon.jpg" /></td>
              <td><a href="<%=report.excel_href%>"><%=report.name%> Excel明细</a></td>
            <% end %>
            </tr>
          <%}%>
          <%if @quality_monthly_reports.empty?%>
            <tr><td colspan="4">当前没有报表</td></tr>
          <%else%>
            <tr><td colspan=4><hr/></td></tr>
            <tr><td colspan=4 align="right">
                <a href="/report/perf_reports/all_reports?report_type=9">更多</a>
              </td></tr>
          <%end%>
        </table>
      </div>
    </div>
  </td>
</tr>
</table>
<table width="100%">
  <tr>
    <td width="23%" valign="top">
      <div class="board ui-widget">
        <h4 class="board-header ui-widget-header ui-corner-top">日报</h4>
        <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
          <table width="100%">
            <% @cq_daily_reports.each { |report| %>
              <tr>
                <% unless report.excel_href.nil? %>
                  <td width="10px;"><image src="/images/excel_icon.jpg" /></td>
                <td><a href="<%=report.excel_href%>"><%=report.name%> Excel明细</a></td>
              <% end %>
              </tr>
            <%}%>
            <%if @cq_daily_reports.empty?%>
              <tr><td colspan="4">当前没有报表</td></tr>
            <%else%>
              <tr><td colspan=4><hr/></td></tr>
              <tr><td colspan=4 align="right"><a href="/report/perf_reports/all_reports?report_type=10">更多</a></td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </td>
    <td width="23%" valign="top">
      <div class="board ui-widget">
        <h4 class="board-header ui-widget-header ui-corner-top">周报</h4>
        <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
          <table width="100%">
            <%
            @cq_weekly_reports.each { |report|
            %>
              <tr>
                <% unless report.excel_href.nil? %>
                  <td width="10px;"><image src="/images/excel_icon.jpg" /></td>
                <td><a href="<%=report.excel_href%>"><%=report.name%> Excel明细</a></td>
              <% end %>
              </tr>
            <%}%>
            <%if @cq_weekly_reports.empty?%>
              <tr><td colspan="4">当前没有报表</td></tr>
            <%else%>
              <tr><td colspan=4><hr/></td></tr>
              <tr><td colspan=4 align="right"><a href="/report/perf_reports/all_reports?report_type=11">更多</a></td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </td>
    <td width="23%" valign="top">
      <div class="board ui-widget">
        <h4 class="board-header ui-widget-header ui-corner-top">月报</h4>
        <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
          <table width="100%">
            <%
            @cq_monthly_reports.each { |report|
            %>
              <tr>
                <% unless report.excel_href.nil? %>
                  <td width="10px;"><image src="/images/excel_icon.jpg" /></td>
                <td><a href="<%=report.excel_href%>"><%=report.name%> Excel明细</a></td>
              <% end %>
              </tr>
            <%}%>
            <%if @cq_monthly_reports.empty?%>
              <tr><td colspan="4">当前没有报表</td></tr>
            <%else%>
              <tr><td colspan=4><hr/></td></tr>
              <tr><td colspan=4 align="right">
                  <a href="/report/perf_reports/all_reports?report_type=12">更多</a>
                </td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </td>
    <td width="23%" valign="top">
      <div class="board ui-widget">
        <h4 class="board-header ui-widget-header ui-corner-top">季报</h4>
        <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
          <table width="100%">
            <%
            @cq_quarterly_reports.each { |report|
            %>
              <tr>
                <% unless report.excel_href.nil? %>
                  <td width="10px;"><image src="/images/excel_icon.jpg" /></td>
                <td><a href="<%=report.excel_href%>"><%=report.name%> Excel明细</a></td>
              <% end %>
              </tr>
            <%}%>
            <%if @cq_quarterly_reports.empty?%>
              <tr><td colspan="4">当前没有报表</td></tr>
            <%else%>
              <tr><td colspan=4><hr/></td></tr>
              <tr><td colspan=4 align="right">
                  <a href="/report/perf_reports/all_reports?report_type=13">更多</a>
                </td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </td>
  </tr>
</table>
<table width="100%">
  <tr>
    <td width="33%" valign="top">
      <div class="board ui-widget">
        <h4 class="board-header ui-widget-header ui-corner-top">AP完好率日报</h4>
        <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
          <table width="100%">
            <%@ap_available_reports.each { |report| %>
              <tr>
                <%if !report.excel_href.nil? && !report.excel_href.empty? %>
                  <td width="10px;"><image src="/images/excel_icon.jpg" /></td>
                <td><a href="<%=report.excel_href%>"><%=report.name%></a></td>
              <% end %>
              </tr>
            <%}%>
            <%if @ap_available_reports.empty?%>
              <tr><td>当前没有报表</td></tr>
            <%else%>
              <tr><td colspan=4><hr/></td></tr>
              <tr><td colspan=4 align="right"><a href="/report/perf_reports/all_reports?report_type=14">更多</a></td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </td>
    <td width="33%" valign="top">
      <div class="board ui-widget">
        <h4 class="board-header ui-widget-header ui-corner-top">零流量AP月报</h4>
        <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
          <table width="100%">
            <%@zero_traffic_reports.each { |report| %>
              <tr>
                <%if !report.excel_href.nil? && !report.excel_href.empty? %>
                  <td width="10px;"><image src="/images/excel_icon.jpg" /></td>
                <td><a href="<%=report.excel_href%>"><%=report.name%></a></td>
              <% end %>
              </tr>
            <%}%>
            <%if @zero_traffic_reports.empty?%>
              <tr><td>当前没有报表</td></tr>
            <%else%>
              <tr><td colspan=4><hr/></td></tr>
              <tr><td colspan=4 align="right"><a href="/report/perf_reports/all_reports?report_type=6">更多</a></td></tr>
            <%end%>
          </table>
        </div>
      </div>
    </td>
    <td></td>
  </tr>
</table>
