<% content_for :head do %>
  <%= stylesheet_link_tag "ui/ui/ui.datepicker.css" %>
  <%= javascript_include_tag "ui/ui/i18n/ui.datepicker-zh-CN.js" %>
  <%= javascript_include_tag "ui/ui/ui.datepicker.js" %>
  <style type="text/css">
    .ui-grid-scrollable TABLE{
      width:100%;
    }
  </style>
  <script type="text/javascript">
    function customRange(input){
      return {
        minDate: (input.id == "end_time" ? $("#begin_time").datepicker("getDate") : null),
        maxDate: (input.id == "begin_time" ? $("#end_time").datepicker("getDate") : null)
      };
    }
    function resizeTable(){
      var height = document.documentElement.clientHeight;
      var top=$(".ui-grid-scroll-body").offset().top;
      height = height - top - 30;
      $(".ui-grid-scroll-body").css("height", height);
    }
    $(function(){
      $("#begin_time,#end_time").datepicker($.extend({}, $.datepicker.regional["zh-CN"], {
        showStatus: true,
        beforeShow: customRange
      }));
      resizeTable();
    });
  </script>
<%end %>
<%content_for :header_title do %><%= t("#{params[:report_name]}") %><%end %>
<div>
  <%form_tag(url_for(:action=>'index'), :method => "get", :method=>"get") do %>
    <%=hidden_field_tag :type, params[:type]%>
    <%=hidden_field_tag :report_name, params[:report_name]%>
    <div id="control" class="control clearfix">
      <span style="float:left;margin-left:5px;"><%=begin_time %></span>
      <span style="float:left;margin-right:5px;"><%=end_time %></span>
      <span style="float:left;margin-right:5px;margin-top:3px;"><%=hn_radius_time_gran(params[:type].to_i) %></span>
      <span style="float:left;margin-right:5px;margin-top:3px;"><%=hn_radius_netloc_gran %></span>
      <span style="float:left;margin-right:5px;"><%=submit_tag '确定',:name=>nil %></span>
      <ul class="ul export-box f5">
        <li>
          <%= export_to 'csv', "CSV", params %>
        </li>
      </ul>
    </div>
  <%end %>
  <%
  sort_url = params.merge({:page => nil})
%>
  <%ui_grid_for @grid,:scrollable =>true do |g,cols,data|%>
    <%g.head do %>
      <%g.r do%>
        <%  @grid.column_names.each do |col| %>
          <%=g.format_sort col + (hn_radius_name_units[col[:name]].nil? ? "":"(#{hn_radius_name_units[col[:name]]})"),
            :html =>{:width => hn_column_widths(col[:name])},
            :url => sort_url
        %>
        <%end%>
      <%end%>
    <%end%>
    <%g.body do%>
      <%unless data.empty? %>
        <%data.each do |d| %>
          <%g.r do%>
            <%  cols.each_index do |i|%>
              <%if(cols[i][:name] == "日期")%>
                <%=g.d d[i].to_date.strftime("%Y-%m-%d")%>
              <%elsif cols[i][:name].include?("数") or radius_error_codes(cols[i][:name]) %>
                <%=g.d d[i].to_i %>
              <% elsif cols[i][:name].end_with? '率' or cols[i][:name].end_with? '(%)' %>
                <%=g.d '%.2f' %(d[i] * 100) %>
              <%else%>
                <%=g.d Procedure::DataFormater.format(cols[i][:name], d[i])%>
              <%end%>
            <% end %>
          <% end %>
        <%end%>
      <%else%>
        <%g.r do%>
          <td colspan="10">当前没有结果</td>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
  <% if !@radius_stat.nil? && @radius_stat.total_entries != 0 %>
    <div style="margin-top:0.5em;" class="clearfix">
      <div class="left f4">显示<%=@radius_stat.total_entries %>个结果中的<%=@radius_stat.current_page == @radius_stat.page_count ? (@radius_stat.total_entries - @radius_stat.per_page * (@radius_stat.page_count - 1)): @radius_stat.per_page %>个</div>
      <%=will_paginate @radius_stat%>
    </div>
  <% end %>
</div>
