
<% content_for :head do %>
  <script type="text/javascript">
    var getSelectBox = function(){
      return $("#device_grid").find('input[name^=ids]:checked');
    };
    jQuery(function(){
      var form = $('#site_query_grid');
      var _method = $('#site_query_grid input[name=_method]');
      
      //重置
      $(".resets input[name=reset]").click(function(){
        $("select[name^=site_query],input[type=text][name^=site_query]").attr("value", "");
         $("#site_cn").attr("value",'');
         $("#category").attr("value",'');
         $("#cities").attr("value",'');
         $("#towns").attr("value",'');
         $("#start_time").attr("value",'');
         $("#location").attr("value",'');
         $("#ac_id").attr("value",'');
        //$("#ac_id").attr("value",'');
        //$("#site_query_ap_count").attr("checked", false);
        //$("#cities").change();
        //$("#site_level").attr("value","");
      });


      //级联select
      $("#cities").change(function(){
        $.get("<%= url_for :controller => '/inventory/site_query', :action => 'show', :format => 'ajax' %>",{
          city_id:$(this).val()
        },function(text){
          $("#towns").html(text);
        });
      });

      //筛选AC
      $("#cities,#towns").change(function(){
        $.get("<%= url_for :controller => 'inventory/site_query', :action => 'filter_ac', :format => 'ajax' %>",{
          parent_id:($(this).val().length == 0 ? $("#cities").val() : $(this).val())
        },function(text){
          $("#ac_id").html(text);
        });
      });
    });
  </script>
<% end %>
<% content_for :header_title, "热点设备接入网管情况报表" %>
<%= ui_highlight flash[:notice] unless flash[:notice].nil? %>
<%params[:ultra_wlan_site] ||= {}%>
<div>
  <% form_for :ultra_wlan_site, :url =>{:controller=>'report/ultra_wlan_site'}, :html=>{:class => "form ui-widget",:method=>:get} do |f| %>
    <% field_set_tag "热点检索", :style => "font-size:12px;padding: 1em;background:transparent;", :class => "ui-widget-content ui-corner-all" do %>
      <div class="wrap">
        <div class="li">
          <div class="col left">
            <%=f.label :site_cn, "热点名称", :class => "label" %>
            <%=f.text_field :site_cn,:value =>params[:ultra_wlan_site][:site_cn], :id => 'site_cn' %>
          </div>
          <div class="col right">
            <%=f.label :category, "热点类型", :class => "label" %>
            <%=f.select :category,@site_category,{:include_blank => true,:selected => params[:ultra_wlan_site][:category].to_i}, :id => 'category' %>
          </div>
        </div>
        <div class="li">
          <div class="col left">
            <%=f.label :cities, "所属地市", :class => "label" %>
            <%=f.select :cities, @cities.collect {|c| [c.site_cn,c.id]} ,{:include_blank => true, :selected => @city_id.to_i}, :id => 'cities' %>
          </div>
          <div class="col right">
            <%=f.label :towns, "所属区县", :class => "label" %>
            <%=f.select :towns, @towns.collect{|c| [c.site_cn, c.id]} ,{:include_blank => true, :selected => @town_id.to_i}, :style=>"width:226px;", :id => 'towns' %>
          </div>
        </div>
       
        <div class="li">
          <div class="col right">
            <%=f.label :location, "位置", :class => "label" %>
            <%=f.text_field :location, :value => params[:ultra_wlan_site][:location], :id => 'location' %>
          </div>
          <div class="col left">
            <%=f.label :ac_id, "所属AC" , :class => 'label' %>
            <%=f.select :ac_id, @acs, {:include_blank=>true, :selected => params[:ultra_wlan_site][:ac_id].to_i}, :style=>"width:226px;", :id => 'ac_id'  %>
          </div>
        </div>
        <div class="li">
          <div class="col left">
           <%=f.label :start_time, "日期", :class => "label" %>
           <%=render "/report/ultra_wlan_site/time_select_bar", :f =>f%>
            <%= text_field_tag "start_time",params[:start_time],:id =>'start_time'%>
           <%=hidden_field_tag "end_time",params[:endTime],:id =>'end_time'%>
          </div>
        </div>
        <div class="li resets" align="right">
          <div class="col right">
            <%=f.submit "快速检索" %>
            <%= tag('input', :type => 'button', :name => 'reset', :value => "重置", :class => " " ) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end  %>
<div id="control" class="control clearfix">
  <ul class="ul export-box">
    <li><%= export_to 'csv', "CSV", params %></li>
  </ul>
  </div>

<%
sort_url = params.merge({:page => nil})
%>
<div id="device_grid">
  <% form_tag(url_for(:action => 'destroy'), :method=>:post) do%>
    <%=hidden_field_tag '_method', ''%>
    <% ui_grid_for @grid do |g, cols, data| %>
      <% g.head do %>
        <% g.r do %>
          <%= g.format_sort(:serial,'序号',:html => {:width =>nil}, :url =>sort_url) %>
          <%= g.format_sort(:code_name,'热点类型', :html => {:width =>nil}, :url =>sort_url) %>
          <%= g.format_sort(:site_cn,'热点名称', :html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:ac_num,'对应AC个数', :html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:ap_num,'对应AP个数', :html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:sw_poe_num,'对应POE交换机个数',:html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:sw_con_num,'对应汇聚交换机个数', :html => {:width => nil}, :url =>sort_url) %>
          <%= g.format_sort(:oun_num,'对应ONU设备个数', :html => {:width =>nil}, :url =>sort_url) %>
        <% end %>
      <% end %>
      <% g.body do %>
        <% if data.size >0 %>
          <% data.each do |d| %>
            <% g.r do %>
              <%=g.d d[:serial] %>
              <%=g.d d[:code_name] %>
              <%=g.d d[:site_cn].nil? ? "" : (truncate(d[:site_cn], 20)) %>
              <%if d.serial.eql?("合计")%>
              <%=g.d d[:ac_num].to_i%>
              <%=g.d d[:ap_num].to_i%>
              <%=g.d d[:sw_poe_num].to_i %>
              <%=g.d d[:sw_con_num].to_i %>
              <%=g.d d[:oun_num].to_i%>
              <%else%>
              <%=g.d link_to((d[:ac_num] ? d[:ac_num].to_i : 0),{:controller => "/report/ultra_ac_detail",:id=>d.id,:time=>params[:start_time]},:class =>controlled("/report/ultra_ac_detail/index"),:popup =>true) %>
              <%=g.d link_to((d[:ap_num] ? d[:ap_num].to_i : 0),{:controller => "/report/ultra_ap_detail",:id=>d.id,:time=>params[:start_time]},:class =>controlled("/report/ultra_ap_detail/index"),:popup =>true) %>
              <%=g.d d[:sw_poe_num].to_i %>
              <%=g.d d[:sw_con_num].to_i %>
              <%=g.d link_to((d[:oun_num] ? d[:oun_num].to_i : 0),{:controller => "/report/ultra_onu_detail",:id=>d.id},:class =>controlled("/report/ultra_onu_detail/index"),:popup =>true) %>
              <%end%>
            <% end %>
          <% end %>
        <% else %>
          <td colspan="<%= 2+cols.size %>">当前没有数据。</td>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
<%= bottom_show @ultra_wlan_site%>
