<% content_for :head do %>
<% end %>
<% content_for :header_title, "ONU详细信息"%>
<%= ui_highlight flash[:notice] unless flash[:notice].nil? %>
<div class="control clearfix">
  <ul class="ul export-box">
    <li><%= export_to 'csv', "CSV", params %></li>
  </ul>
</div>
<%
sort_url = params.merge({:page => nil})
%>
<div  id="devices_grid">
 <% form_tag(url_for(:action => 'show'), :method=>:get) do%>
    <%=hidden_field_tag '_method', ''%>
    <% ui_grid_for @grid ,:scrollable =>false do |g, cols, data| %>
      <% g.head do %>
        <% g.r do %>
          <%= g.format_sort(:serial,"序号", :html => {:width => nil}) %>
          <%= g.format_sort(:site_city,"热点地市", :html => {:width => nil}) %>
          <%= g.format_sort(:wlan_site_name,"WLAN热点名称", :html => {:width => nil}) %>
          <%= g.format_sort(:onu_name,"ONU名称", :html => {:width => nil}) %>
          <%= g.format_sort(:onu_ip,"ONU-IP地址", :html => {:width => nil}) %>
          <%= g.format_sort(:belong_to_olt_ip,"归属OLT地址", :html => {:width => nil}) %>
          <%= g.format_sort(:belong_to_olt_chinese,"归属OLT中文名称", :html => {:width => nil}) %>
        <% end %>
      <% end %>
      <% g.body do %>
        <% if data.size >0 %>
          <% data.each do |d| %>
            <% g.r do %>
              <%=g.d d[:serial].to_i%>
              <%=g.d d[:site_city]%>
              <%=g.d d[:wlan_site_name]%>
              <%=g.d d[:onu_name]%>
              <%=g.d d[:onu_ip]%>
              <%=g.d d[:belong_to_olt_ip]%>
              <%=g.d d[:belong_to_olt_chinese]%>
            <% end %>
          <% end %>
        <% else %>
          <td colspan="<%= 2+cols.size %>">当前没有数据。</td>
        <% end %>
      <% end %>
    <% end %>
    <%end%>
</div>
<%= bottom_show @onu_detail%>
