<style type="text/css">
  .form .col{
    width:48%;
  }
  .form .label{
    width:10.3%;
  }
  .form .text{
    width: 87%;
  }
  .form .col .label{
    width:20.5%;
  }
  .form .col .text{
    width: 70%;
  }
  .form .col .select{
    width: 72%;
  }
  .form fieldset{
    margin-left: .5em;
    margin-right: .5em;
  }
  .category-option{
    display : none;
  }
  select{
    height: 21px;
    vertical-align:middle;
  }
  .group-condition{
    float:left;
    width:90px
  }
</style>
<script type="text/javascript">
  $(function(){
    acOption = $("#device_class").find("option").eq("2");
    $("#region_gran").change(function(){loadDeviceSelect();});
  });
  
  function loadDeviceSelect(){
    var deviceSelect = $("#device_class");
    var regionVal = parseInt($("#region_gran").val());
    acOption.remove();
    if(regionVal != 5){
      acOption.insertBefore("#device_class> option:last-child")
      }
  };
</script>

<script type="text/javascript">
  function checkDicGroup(){
    var checkedGroups = "<%=@perf_template.dic_group.is_a?(Array) ? @perf_template.dic_group.uniq.join(",") : @perf_template.dic_group%>".split(",");
    $.each(checkedGroups, function(i, group){
      if(group != "")
        $("#" + group).attr("checked", true);
    });
  }
  function cancelUsers(){
    $("#perf_template_report_template_users option").attr("selected", false);
  }

  $(function(){
    checkDicGroup();
    $(".cancelusers").click(function(e){
      cancelUsers();
    });
  })
</script>
<style>
  .label_left{
    float:left;
  }
</style>
<div class="f4">
  <input type="hidden" name="perf_template[report_type]" value="4">
  <div class='wrap'>
    <div class='li'>
      <div class="left col" style="">
        <%=f.label 'netloc_gran','区域粒度',:class=>'label', :required => true %>
        <%=f.select :netloc_gran, [["省份", 0],["地市", 1],["郊县", 2],
          ["热点", 5]], {:selected => @perf_template.netloc_gran}, {:id => "region_gran"}%>
        <br>
        <br>
        <%@device_types = [["AP", "AP"], ["Switch", "Switch"], ["AC", "AC"]]%>
        <%=f.label :device_class,'设备类型',:class=>'label' %>
        <%=f.select :device_class, @device_types + [""] , {:selected => @perf_template.device_class}, {:style=>"width:254px;", :id => "device_class"}%>
        <br> 
        <br>
        <%=f.label 'netloc_gran','分组条件',:class=>' label_left' %>
        <div class="left" style="width:75%">
          <%resource_template_dic_groups.each do |item|%>
            <div class="group-condition">
              <input id="<%=item[0]%>" type="checkbox" value="<%=item[0]%>" name="perf_template[dic_group][]" style="float:left">
              <label for="<%=item[0]%>" class="label" style="width:60px;"><%=item[1]%></label>
            </div>
          <%end%>
        </div>
      </div>
      <div class='right col' style="">
        <% field_set_tag '统计范围', :style => "padding: 5px;height:150px;", :class => "ui-widget-content ui-corner-all" do %>
          <%=render :partial=>'report/domain_selection'%>
        <%end%>
        <input type="hidden" value="<%=net_loc%>" name="perf_template[netloc]" id="netloc" value="">
        <input type="hidden" value="<%=params[:netloc_cns]%>" name="netloc_cns" id="netloc_cns" value="">
      </div>
    </div>
  </div>
</div>





