<style type="text/css">
  .form .col{
    width:48%;
  }
  .form .label{
    width:10.3%;
  }
  .form .text{
    width: 87%;
  }
  .form .col .label{
    width:20.8%;
  }
  .form .col .text{
    width: 70%;
  }
  .form .col .select{
    width: 72%;
  }
  .category-option{
    display : none;
  }
  select{
    height: 21px;
    vertical-align:middle;
  }
</style>
<script type="text/javascript">
  function changeIndex(timeGran){
    $("#kiplist").empty();
    $(".topn-index").empty();
    $("#kiplist").append("<option value=''>加载中...</option>");
    $.getJSON("/report/perf_templates/kpilist_candidate", { netgran: timeGran}, function(grans){
      $("#kiplist").empty();
      var selectedKpilists = "<%=@perf_template.kpilist.is_a?(Array) ? @perf_template.kpilist.join(",") : @perf_template.kpilist%>".split(",");
      for(var i=0; i<grans.length; i++){
        var gran = grans[i];
        var selected = $.inArray(gran.id + "", selectedKpilists);
        var option = ["<option value='" + gran.id + "'"];
        if(selected != -1)
          option.push(" selected='selected'");
        option.push(">" + gran.name + "</option>");
        $("#kiplist").append(option.join(""));
      }
      $("#kiplist").change();
      $("#topnkpi option[value=" + "<%=@perf_template.topn_kpi%>]").attr("selected", true);
    });
  }
  function changeCandidateByNetGran(){
    $(".selected").empty();
    $(".candidate option[type=region-effect]").remove();
    $(".x_axis option[type=region-effect]").remove();
    var selectedOption = $("#region_gran option:selected")[0];
    if(selectedOption.value != 0){
      var option = "<option type='region-effect' value='" + selectedOption.text + "'>" + selectedOption.text + "</option>";
      $(".candidate").append(option);
      $(".x_axis").append(option);
    }
  }
  function checkDicGroup(){
    var checkedGroups = "<%=@perf_template.dic_group.is_a?(Array) ? @perf_template.dic_group.uniq.join(",") : @perf_template.dic_group%>".split(",");
    $.each(checkedGroups, function(i, group){
      if(group != "")
        $("input[value=" + group + "]").attr("checked", true).click().attr("checked", true);
    });
  }
  function checkTopn(){
    var topn = <%=@perf_template.is_topn.nil? ? 0 : @perf_template.is_topn%>;
    if(topn == 1){
      $("#topn-enabled").attr("checked", true).click().attr("checked", true);
    }
  }
  function checkChartSet(){
    var chart_sets = "<%=chart_set_seqs.join(",")%>".split(",");
    $.each(chart_sets, function(i, chart_set){
      $("input[chart_name=chart" + chart_set + "]").attr("checked", true).click().attr("checked", true);
    });
  }
  function adjustGroupCol(){
    var chart_sets = window.eval('<%=@perf_template.chart_sets.to_json%>');
    $.each(chart_sets, function(i, chart_set){
      var chart = $("#chart" + chart_set.chart_seq + "-xcol");
      var groupColCandidate = $("#chart" + chart_set.chart_seq + "-candidate");
      var groupSelectedCol = $("#chart" + chart_set.chart_seq + "-selected");
      chart.attr("value", chart_set.x_col);
      groupColCandidate.find("option[value=" + chart_set.x_col + "]").remove();
      if(chart_set.group_col){
        if(!(chart_set.group_col instanceof Array))
          chart_set.group_col = chart_set.group_col.split(",");
        $.each(chart_set.group_col, function(i, col){
          groupColCandidate.find("option[value=" + col + "]").appendTo(groupSelectedCol.get()).attr("selected", true);
        });
      }
    })
  }
  function cancelUsers(){
    $("#perf_template_report_template_users option").attr("selected", false);
  }
  $(function(){
    $(".all_time").click(function(e){
      $(".time_gran").attr("checked", $(e.target).attr("checked"));
    });
    $(".cancelusers").click(function(e){
      cancelUsers();
    });
    $("#region_gran").change(function(e){
      changeCandidateByNetGran();
      $(".region-effect").attr("checked", false);
    })
    $(".region-effect").click(function(e){
      var e = $(e.target);
      if(e.attr("checked") == true){
        var option = "<option type='region-effect' value='" + e.attr("col_value") + "'>" + e.attr("col_value") + "</option>";
        $(".candidate").append(option);
        $(".x_axis").append(option);
      }else{
        $(".candidate option[value=" + e.attr("col_value")+ "]").remove();
        $(".x_axis option[value=" + e.attr("col_value")+ "]").remove();
      }
    });
    $(".chart-enabled").click(function(e){
      var e = $(e.target);
      var chartEnabledEffect = e.attr("chart_name");
      $("."+chartEnabledEffect).attr("disabled", !e.attr("checked"));
    });
    $(".mover").click(function(e){
      e = $(e.target);
      var direct = e.attr("direct");
      var candidate = e.attr("candidate");
      var selected = e.attr("selected");
      if(direct == "right"){
        var selectedOptions = $("#" + candidate + " option:selected");
        $.each(selectedOptions, function(i, option){
          $("#" + selected).append(option);
        })
      }else{
        var selectedOptions = $("#" + selected + " option:selected");
        $.each(selectedOptions, function(i, option){
          $("#" + candidate).append(option);
        })
      }
    });
    $(".x_axis").change(function(e){
      e = $(e.target);
      var except = e.attr("except");
      $("." + except + "-except option[value=" + e.val() + "]").remove();
      $("#" + except + "-candidate").empty();
      var selected = $("#" + except + "-selected option");
      $.each(e.children(), function(i, option){
        if(option.value != e.val() && option.value != ""){
          var notInSelected = true;
          $.each(selected, function(i, option1){
            if(option.value == option1.value){
              notInSelected = false;
              return;
            }
          })
          if(notInSelected)
            $("#" + except + "-candidate").append($(option).clone());
        }
      });
    });
    changeIndex(-1);
    $(".chart,.chart1,.chart2,.chart3,.topn").attr("disabled", true);
  })
</script>
<div class="f4">
  <input type="hidden" name="perf_template[report_type]" value="3">
  <div class='wrap'>
    <div class='li'>
      <div class='left col'>
        <%=render :partial => '/report/statistics_time_period', :object =>@grid %>
      </div>
      <div class='left col' style="">
        <% field_set_tag '统计范围', :style => "padding: 5px;height:150px;", :class => "ui-widget-content ui-corner-all" do %>
          <%=render :partial=>'report/case_selection'%>
        <%end%>
        <input type="hidden" value="<%=net_loc%>" name="perf_template[netloc]" id="netloc" >
        <input type="hidden" value="<%=params[:netloc_cns]%>" name="netloc_cns" id="netloc_cns" >
      </div>
    </div>
    <div class='li'>
      <div class='left col'>
        <%=f.label :time_gran,'时间粒度',:class=>'label', :required => true %>
        <%=f.select :time_gran, time_grans.delete_if {|x| x[1] == 6}, {:selected => @perf_template.time_gran.to_i}, {:id => "time_gran"}%>
      </div>
      <div class='left col' style="">
        <%=f.label :busytime,'忙时选项',:class=>'label', :required => true %>
        <%=f.select :busytime, [["全时段",-2],["全网忙时", -1],["指定时段",-3]], {}, {:id => "busy_time"}%>
      </div>
      <script type="text/javascript">
        function timeGranChanged(timeGran){
          var availableTimeGran = [];
          $(".time-gran-effect option[type=time-gran]").remove();
          $(".x_axis option[type=time-gran]").remove();
          $(".selected").empty();
          if(timeGran == 0){
            availableTimeGran[0] = "<option type='time-gran' value='年份'>年份</options>";
            availableTimeGran[1] = "<option type='time-gran' value='季度'>季度</options>";
          }else if(timeGran == 1){
            availableTimeGran[0] = "<option type='time-gran' value='年份'>年份</options>";
            availableTimeGran[1] = "<option type='time-gran' value='月份'>月份</options>";
          }else if(timeGran == 2){
            availableTimeGran[0] = "<option type='time-gran' value='年份'>年份</options>";
            availableTimeGran[1] = "<option type='time-gran' value='周'>周</options>";
          }else if(timeGran == 3){
            availableTimeGran[0] = "<option type='time-gran' value='日期'>日期</options>";
          }else if(timeGran == 4){
            availableTimeGran[0] = "<option type='time-gran' value='日期'>日期</options>";
            availableTimeGran[1] = "<option type='time-gran' value='时段'>时段</options>";
          }
          $(".candidate").append(availableTimeGran.join(""));
          $(".x_axis").append(availableTimeGran.join(""));
        }
        $(function(){
          $("#time_gran").change(function(e){
            var timeGran = $("#time_gran option:selected").val();
            timeGranChanged(timeGran)
          });
          timeGranChanged($("#time_gran option:selected").val());
        })
      </script>
    </div>
    <div class='li'>
      <div class='left col'>
        <%=f.label 'netloc_gran','专案粒度',:class=>'label', :required => true %>
        <%=f.select :netloc_gran,[["全部", 0],["专案", 1],["AP",2]], {:selected => @perf_template.netloc_gran.to_i}, {:id => "region_gran"}%>
      </div>
      <div class='left col' style="">
        <%=f.label 'dic_group','分组选项',:class=>'label left' %>
        <div class="left">
          <div style="float:left;white-space:nowrap;">
            <input id="sw_vendor_enabled" type="checkbox" class="region-effect" col_value="设备厂家" value="device_manu" name="perf_template[dic_group][]" style="float:left">
            <label for="sw_vendor_enabled" style="float:left" class="label">设备厂家</label>
          </div>
          <div style="float:left;white-space:nowrap;">
            <input id="sw_mode_enabled" type="checkbox" class="region-effect" col_value="设备型号" value="device_type" name="perf_template[dic_group][]" style="float:left">
            <label for="sw_mode_enabled" style="float:left" class="label">设备型号</label>
          </div>
        </div>
      </div>
    </div>

    <div class='li'>
      <div class='left col' style="">
        <% field_set_tag '统计指标<a  style="cursor: hand;" onclick="countall();" class="countall">(全选)</a>', :style => "padding: 5px;height:150px;", :class => "ui-widget-content ui-corner-all" do %>
          <%=f.select :kpilist, "", [], :multiple => true, :style => "height:130px;width:300px;margin-left:2.5%;border:none;", :id =>"kiplist"%>
        <%end%>
        <script type="text/javascript">
          $(function(){
            $("#kiplist").change(function(e){
              var selectedIndexes = $("#kiplist option:selected");
              $(".topn-index").empty();
              $.each(selectedIndexes, function(i, index){
                $(".topn-index").append("<option value='" + index.text + "'>" + index.text + "</option>");
              });
            });
          })
        </script>
      </div>
      <div class='left col'>
        <fieldset style="padding: 5px;height:150px;" class="ui-widget-content ui-corner-all">
          <legend>
            <%=f.check_box :is_topn, :id => "topn-enabled", :class => " topon_enabled"%>
            <%=label_tag :is_topn, "支持TopN", :for =>"topn-enabled"%>
          </legend>
          <div style="margin:5px;" class="topn">
            <div class="li">
              <%=f.label :topn_kpi,'TopN指标', :class=>'label'%>
              <%=f.select :topn_kpi, [],{}, {:style=>"width:200px;", :id => "topnkpi", :class => " topn topn-index"}%>
            </div>
            <div class="li">
              <%=f.label :sort_type,'排序方式',:class=>'label'%>
              <%=f.select :sort_type, [['升序', 1], ['降序', 2]],{:selected => @perf_template.sort_type}, {:style=>"width:200px",:class=>" topn"}%>
            </div>
            <div class="li">
              <%=f.label :top_n,'TopN值',:class=>'label'%>
              <%=f.text_field :top_n, :style=>"width:193px;",:class=>' topn'%>
            </div>
          </div>
          <script type="text/javascript">
            $(function(){
              $(".topon_enabled").click(function(e){
                $(".topn").attr("disabled", !$(e.target).attr("checked"));
              })
            })
          </script>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    checkDicGroup();
    checkTopn();
    checkChartSet();
    adjustGroupCol();
  })
</script>
