<% content_for :head do %>
<style type="text/css">
    .template_group {
        font-weight: bold;
        padding: 2px 0 0 0;
    }
	.template_group image, .template image {vertical-align: middle;}
</style>
<%end %>
<%content_for :header_title do %>重点报表<%end %>
<table width="100%">
    <tr>

        <td width="33%" valign="top">
            <div class="board ui-widget">
                <h4 class="board-header ui-widget-header ui-corner-top">重点日报表</h4>
                <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
                    <table width="100%" cellpadding="0" cellspacing="0">

                        <tr>
                            <td class="template_group">
                            	<%=image_tag "default/tree/elbow-end-minus-nl.gif"%>WLAN重点报表
                            </td>
                        </tr>
  
                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "全省WLAN业务AP性能统计报表(日)", {:controller => :important_report, :action => :wlan_ap_pref}, :popup => true%>
                            </td>
                        </tr>
                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "全省WLAN业务AC性能统计报表(日)", {:controller => :important_report, :action => :wlan_ac_pref}, :popup => true%>
                            </td>
                        </tr>
                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "全省WLAN业务展现AC性能统计报表(日)", {:controller => :important_report, :action => :wlan_ac_show_pref}, :popup => true%>
                            </td>
                        </tr>
                         <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "各地市WLAN业务AP性能统计报表(日)", {:controller => :important_report, :action => :wlan_ap_pref_city_d}, :popup => true%>
                            </td>
                        </tr>
                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "各地市WLAN业务AC性能统计报表(日)", {:controller => :important_report, :action => :wlan_ac_pref_city_d}, :popup => true%>
                            </td>
                        </tr>
                         <tr>
                             <td class="template">
                            	<%#=image_tag "default/tree/elbow.gif"%><%#=image_tag "default/tree/leaf.gif"%>
                                <%#=link_to "各地市WLAN业务展现AC性能统计报表(日)", {:controller => :important_report, :action => :wlan_ac_show_pref_city_d}, :popup => true%>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
 <%#==========================================================月==================================================================================%>
            <td width="33%" valign="top">
            <div class="board ui-widget">
                <h4 class="board-header ui-widget-header ui-corner-top">重点月报表</h4>
                <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
                    <table width="100%" cellpadding="0" cellspacing="0">

                        <tr>
                            <td class="template_group">
                            	<%=image_tag "default/tree/elbow-end-minus-nl.gif"%>WLAN重点月报表
                            </td>
                        </tr>

                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "全省WLAN业务AP性能统计报表(月)", {:controller => :important_report, :action => :wlan_ap_pref_month}, :popup => true%>
                            </td>
                        </tr>
                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "全省WLAN业务AC性能统计报表(月)", {:controller => :important_report, :action => :wlan_ac_pref_month}, :popup => true%>
                            </td>
                        </tr>
                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "全省WLAN业务展现AC性能统计报表(月)", {:controller => :important_report, :action => :wlan_ac_show_pref_month}, :popup => true%>
                            </td>
                        </tr>
                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "全省WLAN业务PortalRadius性能报表(月)", {:controller => :important_report, :action => :wlan_portal_radius_pref}, :popup => true%>
                            </td>
                        </tr>
                         <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "各地市WLAN业务AP性能统计报表(月)", {:controller => :important_report, :action => :wlan_ap_pref_city_m}, :popup => true%>
                            </td>
                        </tr>
                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "各地市WLAN业务AC性能统计报表(月)", {:controller => :important_report, :action => :wlan_ac_pref_city_m}, :popup => true%>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        
         <% if @base.include?("chongqing")%>
         <td width="33%" valign="top">
            <div class="board ui-widget">
                <h4 class="board-header ui-widget-header ui-corner-top">Radius指标报表</h4>
                <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="template_group">
                            	<%=image_tag "default/tree/elbow-end-minus-nl.gif"%>Radius指标报表
                            </td>
                        </tr>
                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                                <%=link_to "PORTAL认证统计表", {:controller => :important_report, :action => :cq_portal_radius}, :popup => true%>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
       <%end%>
    </tr>
    
    <tr>
       <% if @base.include?("fujian")%>
         <td width="33%" valign="top">
            <div class="board ui-widget">
                <h4 class="board-header ui-widget-header ui-corner-top">二级认证平台运行指标报表</h4>
                <div class="board-content ui-widget-content ui-corner-bottom" style="vertical-align:top;">
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="template_group">
                            	<%=image_tag "default/tree/elbow-end-minus-nl.gif"%>二级认证平台运行指标报表
                            </td>
                        </tr>
                        <tr>
                             <td class="template">
                            	<%=image_tag "default/tree/elbow.gif"%><%=image_tag "default/tree/leaf.gif"%>
                               <a href="/ultra/ult_fj_radius" taget="_blank"> 二级认证平台运行指标报表 </a>
                             </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
       <%end%>

    </tr>
    <tr>
        <td width="35%" valign="top">
        </td>
    </tr>
</table>
