<% content_for :head do %>
  <%=javascript_include_tag 'ui/external/cluetip/jquery.cluetip' %>
  <%=javascript_include_tag 'ui/external/cluetip/jquery.hoverIntent.js' %>
  <%=javascript_include_tag 'ui/external/bgiframe/jquery.bgiframe.min'%>
  <%=javascript_include_tag 'ui/ui/jquery.multiSelect'%>
  <%=stylesheet_link_tag '/javascripts/ui/external/cluetip/jquery.cluetip.css',:media=>'all' %>
  <%=javascript_include_tag "ui/external/cookie/jquery.cookie.js"%>
  <%=javascript_include_tag "ui/external/dynatree/jquery.dynatree.js"%>
  <%=stylesheet_link_tag 'ui/ui/jquery.multiSelect'%>
  <%=stylesheet_link_tag "/javascripts/ui/external/dynatree/skin/ui.dynatree.css"%>
  <%=stylesheet_link_tag "ui/ui/ui.datepicker.css" %>
  <%= javascript_include_tag "ui/ui/i18n/ui.datepicker-zh-CN.js"%>
  <%= javascript_include_tag "ui/ui/ui.datepicker.js"%>
  <style type="text/css">
    .changed {
      background: yellow
    }
    .cluetip-jtip h3#cluetip-title {
      background-color:#D0E3EF;
    }
    .cluetip-jtip #cluetip-inner{
      display:block;
    }
    .net_type {
      width: 77px;
    }
    .multiSelect {
      background:url("/images/multi_selection/dropdown.gif") no-repeat scroll right center #FFFFFF;
      border:1px solid #7B9EBD;
      cursor:default;
      display:inline;
      padding:1px 20px 3px 3px;
      position:relative;
    }

    #dataSelect {
      font-size: 1.2em;
    }
  </style>
  <script type="text/javascript">
    function conditionChanged(ev){
      var current_value = ev.target.value;
      var el = $(ev.target);
      var original_value = el.attr('original_value');
      var all_guide = $('.control .all_guide');
      if(original_value != current_value){
        el.addClass("changed");
        all_guide.attr("disabled", true);
        el.attr("title", "当前属性已经改变，必须重新查询");
        all_guide.addClass("ui-state-disabled");
      }else{
        el.removeClass("changed");
        all_guide.attr("disabled", false);
        el.attr("title", "");
        all_guide.removeClass("ui-state-disabled");
      }
    }

    $(function(){
      <%#*$("#region-condition").submit(function(e){%>
        <%#*$("#submit").val("分析中").attr("disabled", true);%>
      <%#*});%>
      $("#begin_time").datepicker($.extend({}, $.datepicker.regional["zh-CN"], {
        showStatus: true
      }));
      $(".control input[type=text],select").change(conditionChanged);

      //纬度分析
      var defSelect = $('.time_range').attr("value");
      if(defSelect == 3){
        $('.advanced').hide();
        $("#dataSelect").show();
      }
      else if(defSelect == 2){
        $('.advanced').show();
        $(".advanced #week").show();
        $("#dataSelect").hide();
        loadTime();
      }
      else if(defSelect == 1){
        $('.advanced').show();
        $(".advanced #week").hide();
        loadTime();
        $(".advanced #week input:checked").attr("checked", false);
      }
      else{
        $('.advanced').hide();
        $("#dataSelect").hide();
      }
      $('.time_range').change(function(item){
        var select = item.target.value;
        if(select == 1 || select == 2){
          $('.advanced').slideDown();
          $(".advanced input:checked").attr("checked", "");
          $("#dataSelect").slideUp();
          loadTime();
          if(select == 2){
            $(".advanced #week").show();
          }
          else{
            $(".advanced #week").hide();
            $(".advanced #week input:checked").attr("checked", false);
          }
        }
        else if(select == 3){
          $('.advanced').slideUp();
          $("#dataSelect").slideDown();
        }
        else {
          $('.advanced').slideUp();
          $("#dataSelect").slideUp();
        }
      });
      function loadTime(){
  <% unless params[:year].nil? %>
        $("#year").find("input[value=<%= params[:year] %>]").attr("checked", true);
  <% end %>
  <% unless params[:month].nil? %>
        $("#month").find("input[value=<%= params[:month] %>]").attr("checked", true);
  <% end %>
    };
  });
  </script>
<% end %>

<%content_for :header_title do%>各地市WLAN业务AP性能统计报表(月报)<%end%>

<%unless flash[:notice].nil? %>
  <%=ui_highlight flash[:notice] %>
<%end %>
<%=render :partial => 'layouts/region_selection'%>
<div>
  <%form_tag(url_for(:action=>'wlan_ap_pref_city_m'), :method => "get", :method=>"get") do %>
  <div>
    <div id="control" class="control clearfix">
      <%=hidden_field_tag :area_level, 2, :id=>'area_level' %>
      <%=hidden_field_tag :net_type_key, params[:net_type_key]%>
      <span style="float:left;margin-right:5px;margin-left:5px;margin-top:3px;"><%=ultra_time_range%></span>
      <span style="float:left;margin-right:5px;"><%=hidden_field_tag :saved_time_range_text, params[:saved_time_range_text]%></span>
      <span style="float:left;margin-right:5px;"><%=hidden_field_tag :saved_time_range_value, params[:saved_time_range_value]%></span>
      <span style="float:left;margin-left:2px;"><%=submit_tag '确定',:name=>nil, :id => "submit"%></span>
      <%if @grid%>
        <ul class="ul export-box f5">
          <li><%= export_to 'csv', "CSV",params%></li>
        </ul>
      <% end %>
    </div>
    <div id="dataSelect" style="display:none">
      <%field_set_tag "自定义时间范围", :class => "ui-widget-content ui-corner-all" do %>
        <%=rms_begin_time %>
        <%#=end_time %>
      <%end%>
    </div>
     <%=render :partial => 'report/advanced',:locals => { :account => @years,:type=>0}%>
 <%end%>
</div>
  <%sort_url = params.merge({:page => nil})%>
    <% ui_grid_for @grid,:scrollable =>true do |g,cols,data|%>
    <%g.head do %>
      <%g.r do%>
                   <%= g.format_sort(:sampledate,"统计时间", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:nodecn,"省份", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:citycn,"地市", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:ap_back,"AP退服率(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:assocsucc_rate,"关联成功率(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:rxbytes_max_rate,"上行峰值速率(Mbps/s)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:txbytes_max_rate,"下行峰值速率(Mbps/s)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:userdown_max_rate,"单用户峰值下载速率(Mbps/s)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:abnormaldrops_rate,"关联终端异常掉线率(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:refused_rate,"AP关联拥塞率(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:busyap_rate,"超忙AP占比(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:idleap_rate,"超闲AP占比(%)", :html => {:width => 125}, :url =>sort_url) %>

                   <%= g.format_sort(:up_flow,"AP上行流量(Mb)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:down_flow,"AP下行流量(Mb)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:unkonew_rate,"由于之前的关联无法识别与转移而导致重新关联失败率(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:unsupport_rate,"因终端不支持基本速率集要求的速率而关联失败的失败率(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:rssi_rate,"因RSSI过低而关联失败的失败率(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:max_online_rate,"峰值在线用户数", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:max_conncet_rate,"峰值关联用户数", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:busyap_num,"超忙个数", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:busy_level,"超忙程度", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:indoor_distribution_rate,"AP室分占比(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:indoor_put_pack_rate,"AP放装占比(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:outdool_distribution_rate,"AP室外占比(%)", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:ap_empty_t_rate,"AP空口下行重传率", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:ap_empty_a_rate,"AP空口收包错误率", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:access_inf_strength,"接收的信号平均强度", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:ap_num,"AP总数", :html => {:width => 125}, :url =>sort_url) %>
                   <%= g.format_sort(:ap_signal_system_rate,"AP制式占比", :html => {:width => 125}, :url =>sort_url) %>
    <%end%>
   <%end%>
    <%g.body do%>
      <% if data.size >0 %>
        <% data.each do |d| %>
          <% g.r do %>
                    <%=g.d d[:sampledate].nil? ? "":d[:sampledate].strftime("%Y-%m-%d")%>
                    <%=g.d d[:nodecn]%>
                    <%=g.d d[:citycn]%>
                    <%=g.d d[:ap_back]%>
                    <%=g.d d[:assocsucc_rate]%>
                    <%=g.d d[:rxbytes_max_rate]%>
                    <%=g.d d[:txbytes_max_rate]%>
                    <%=g.d d[:userdown_max_rate].to_i%>
                    <%=g.d d[:abnormaldrops_rate]%>
                    <%=g.d d[:refused_rate]%>
                    <%=g.d d[:busyap_rate]%>
                    <%=g.d d[:idleap_rate]%>

                    <%=g.d d[:up_flow]%>
                    <%=g.d d[:down_flow]%>
                    <%=g.d d[:unkonew_rate]%>
                    <%=g.d d[:unsupport_rate]%>
                    <%=g.d d[:rssi_rate]%>
                    <%=g.d d[:max_online_rate]%>
                    <%=g.d d[:max_conncet_rate]%>
                    <%=g.d d[:busyap_num]%>
                    <%=g.d d[:busy_level]%>
                    <%=g.d d[:indoor_distribution_rate]%>
                    <%=g.d d[:indoor_put_pack_rate]%>
                    <%=g.d d[:outdool_distribution_rate]%>
                    <%=g.d d[:ap_empty_t_rate]%>
                    <%=g.d d[:ap_empty_a_rate]%>
                    <%=g.d d[:access_inf_strength]%>
                    <%=g.d d[:ap_num]%>
                    <%=g.d d[:ap_signal_system_rate]%>
            <%end%>
        <% end %>
      <%else%>
        <%g.r do%>
          <td colspan="<%= 2+cols.size %>">当前没有数据。</td>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
</div>

  <%= bottom_show @ap_pref_data_city_m %>