<div class="index_chart">
      <div class="Menubox">
        <ul>
          <li id="<%=object%>1" onClick="setTab('<%=object%>',1,2)"  class="hover">全省趋势</li>
          <li id="<%=object%>2" onClick="setTab('<%=object%>',2,2)" >分地市评估</li>
        </ul>
      </div>
      <div class="Contentbox">
        <input  type="hidden" id= "con_<%=object%>_size" name= "con_<%=object%>_size" value= "0">
        <div id="con_<%=object%>_province" >
          <%freed_report_chart("#{object}","province",params[:time_gran])%>
        </div>
        <div id="con_<%=object%>_city" style="display:none"></div>
      </div>
      <br />
    </div>
