
  <%=javascript_include_tag "FusionCharts.js"%>

<div class="index_wrap">
  <% form_tag(url_for(:controller=>"first_pages")) do%>
    <div class="time_title" onclick="slideToggle()">高级搜索&nbsp;&nbsp;<%#=image_tag('/images/time_title.png')%>
    </div>
    <ul id="divObj" class="time_block" style="display:none">
      <li><%= label_tag :time_gran,"时间粒度：" %>
        <%= select :time_gran,"",[["月","month"],["日","day"]],{:include_blank =>false,:selected=>params[:time_gran]},:class => "select_01",:id=>"time_gran",:onchange=>"changedate()"%>
      </li>
      <li style="margin-left:30px;" id="date_gran">
        <%if params[:time_gran]&&params[:time_gran]=="day"%>
          <%=render :partial=>"common_components/time_date"%>
        <%elsif params[:time_gran]&&params[:time_gran]=="month"%>
          <%=render :partial=>"common_components/time_month"%>
        <%end%>
      </li>
      <li style="margin-left:10px;">
        <%= submit_tag "",:id=>"submit_conditions",:name => nil ,:class =>"button_01",:onclick =>"return checktime();"%>&nbsp;
      </li>
    </ul>
  <%end%>

  <div class="index_main">
    <div class="index_title"><img src="images/first_page/index_icon.png" />&nbsp;&nbsp;用户概况</div>
    <!--全省WLAN用户数概况-->
    <%=report_chart("user_analyses_onlineusers")%>
    <!--全省用户终端统计-->
    <%=report_chart("user_stationcount")%>
    <!--全省单用户平均流量统计-->
    <%=report_chart("user_avgflows")%>
    <!--全省WLAN用户行为统计-->
    <%=report_chart("user_useraction")%>
    <!--tab five-->
 </div>


<script language="javascript" type="text/javascript">

  function setTab(name,cursel,n){
    var area=""
    for(i=1;i<=n;i++){
      if(i=="1"){
        area="province"
      }else{
        area="city"
      }
      var menu=document.getElementById(name+i);
      var con=document.getElementById("con_"+name+"_"+area);
      var con_size=document.getElementById("con_"+name+"_"+"size");
      if(con_size){
        if(cursel=="2"){
          if(con_size.value=="0"){
            changechar(name)
            con_size.value=Number(con_size.value)+1;
          }
        }
      }
      menu.className=i==cursel?"hover":"";
      con.style.display=i==cursel?"block":"none";
    }
  }
  

  function changechar(name){
    time_gran=$("#time_gran").val()
    var month_time=document.getElementsByName("begin_time")[0].value
    $.ajax({
      type: "post",
      url:  "/first_pages/area_gran_check?time_gran="+time_gran+"&begin_time="+month_time+"&area_gran="+"city"+"&kpi_style="+name,
      dataType:"text",
      success: function(msg){
        $("#con_"+name+"_city").empty();
        $("#con_"+name+"_city").append(msg);
      },
      error: function(msg){
      }
    });
  }
  //
  function changedate(){
    time_gran=$("#time_gran").val()
    //alert(time_gran);
    $.ajax({
      type: "POST",
      url:  "/ult_user_analyses/check_dategran?time_gran="+time_gran,
      dataType:"text",
      success: function(msg){
<%#*alert(msg);%>
        $("#date_gran").empty();
        $("#date_gran").append(msg);
      },
      error: function(msg){
      }
    });
  }

function slideToggle(){
$("#divObj").slideToggle();//窗帘效果的切换,点一下收,点一下开,参数可以无,参数说明同上
}

  function checktime(){
    var begin_time=$("#begin_time").val();
    if(begin_time==""){
      alert ("请选择时间!");
      return false;
    }
  }
</script>
