<% content_for :head do %>
<%= stylesheet_link_tag "ui/ui/ui.datepicker.css" %>
<%= javascript_include_tag "ui/ui/i18n/ui.datepicker-zh-CN.js" %>
<%= javascript_include_tag "ui/ui/ui.datepicker.js" %>
<script>
    function customRange(input){
        return {
            minDate: (input.id == "date-end" ? $("#date-start").datepicker("getDate") : null),
            maxDate: (input.id == "date-start" ? $("#date-end").datepicker("getDate") : null)
        };
    }
    
    $(document).ready(function(){
        $("#date-start,#date-end").datepicker($.extend({}, $.datepicker.regional["zh-CN"], {
            showStatus: true,
            beforeShow: customRange
        }));
        $(".datelist").datepicker($.extend({}, $.datepicker.regional["zh-CN"], {
            showStatus: true
        }));
    });
</script>
<%end %>
<%content_for :header_title do %>Radius报表<%end %>
<% form_for :report_con, @query_template,:url => { :controller=>'radius_report', :action=>'index'} , :html =>{:method => 'post', :id=>"query_condition"} do |f| %>
<div class="control clearfix">
    <div class="filters">
        <label for="date-start">
            开始时间:
        </label>
        <%= text_field_tag "start_date", params[:start_date], :id =>'date-start', :style=>'width:100px' %>
        <label for="date-end">
            结束时间:
        </label>
        <%= text_field_tag "end_date", params[:end_date], :id =>'date-end', :style=>'width:100px' %>
        <label for="date-end">
            区域粒度:
        </label>
        <%=select_tag :area_gran, options_for_select([['省份', 0],['地市', 1],['AC', 2]], params[:area_gran].to_i) %>
        <label for="date-end">
            时间粒度:
        </label>
        <%=select_tag :time_gran, options_for_select([['年', 0],['月', 1],['日', 2],['时段', 3]],params[:time_gran].to_i) %>
        <%= f.submit "确定", :name => nil, :id => "submit_conditions" %>
    </div>
</div>
<% end %>
  <%
  sort_url = params.merge({:page => nil})
%>

<div id="showdata" class="form">
    <% ui_grid_for @grid do |g, cols, data| %>
    <% g.head do %>
	    <% g.r do %>
			<%cols.each do |col|%>
	    		<%= g.format_sort(col[:name].to_sym, :html => {:width => nil}, :url =>sort_url) if is_radius_column_visible(col[:name], data)%>
			<%end%>
	    <% end %>
    <% end %>
	<% g.body do %>
        <% if data.size >0 %>
			<% data.each do |d| %>
	            <% g.r do %>
					<%cols.each do |col|%>
						<%if is_radius_column_visible(col[:name], data)%>
							<%if col[:name].end_with? "ratio"%>
								<%= g.d '%.2f' % (d[col[:name]] * 100) %>
							<%elsif col[:name] == "sample_date"%>
								<%= g.d d[col[:name]].to_date %>
							<%else%>
				    			<%= g.d d[col[:name]] %>
							<%end%>
						<%end%>
					<%end%>
				<%end%>
			<%end%>
		<%else%>
			<td colspan="<%= 2+cols.size %>">当前没有数据。</td>
		<%end%>
	  <%end%>
    <%end %>
	<div style="margin-top:0.5em;" class="clearfix">
	    <% if !@radius.nil? && @radius.length > 0 %>
	      <div class="left f4">显示<%=@radius.total_entries %>个结果中的<%=@radius.current_page == @radius.page_count ? (@radius.total_entries - @radius.per_page * (@radius.page_count - 1)): @radius.per_page %>个</div>
	      <%=will_paginate @radius%>
	    <% end %>
  	</div>
</div>
