<style type="text/css">
  div#unused a {
    color: #ffffff;
    font-weight: bold;
  }
  #navigation LI {
    line-height: 10px;
}
  .current a{
   border:1px solid;
   background-color:#f4f9fc;
}

</style>
<%=stylesheet_link_tag "crm-style",'deprecated','colors.sugar' %>
<!--header-->
<div id="header" class="ui-toolbar">
  <div id="header-inner" class="clearfix">
    <div id="navbar" style="width: 100% !important;">
      <div id="subnav" class="clearfix">
        <div id="unused">
          <span style="padding-left:6px;"></span>
          <%if @current_user %><%=link_to @current_user.name, :controller => '/personal' %>
            <span class="pipe">|</span>
          <%end %>
          <%= link_to t('help'), "/WlanHelp/WLAN_HELP.htm", :target => "_blank"%>
          <!--<%=link_to t('help'), '/help' %><span class="pipe">|</span> -->
        </div>
        <div id="eventbox-container" style="float:right">
          <% %w(critical major minor warning indeterminate clear).each do|severity| %>
            <%=eventbox(severity, 0) %>
          <%end %>
        </div>
      </div>
      <%#*<div id="navigation-wrap" class="moduleList" >%>
        <%#*<ul id="navigation" class="ul clearfix">%>
          <%#*<li class="noBorder">&nbsp;</li>%>
      <%#=this_title_select :home,"",""%>
      <%#=this_title_select :faultmgr,"fault/events","faultevents"%>
      <%#=this_title_select :monetmgr,"monet","monet"%>
        <%#*</ul>%>
      <%#*</div>%>
      <div id="navigation-wrap">
        <ul id="navigation" class="ul clearfix">
          <% @current_menuitems.each do |m| %>
            <%=menu_item_to m.id, m.name, :controller=>m.url %>
            <li><%=image_tag "menu_line.png", :style => "height: 26px;"%></li>
          <% end %>
        </ul>
      </div>
       <div id="navigation-wrap">
         <ul id="timertab" class="ul clearfix" style="margin-bottom:5px;padding-top: 4px"  >
          <li class="noBorder"></li>
      <%=sys_title_select :all,"hi?st=0","0"%>
      <%=sys_title_select :perfict,"hi?st=1","1"%>
      <%=sys_title_select :reservice,"hi?st=2","2"%>
        </ul>
      </div>
      <div id="basic-search">
        <% form_for  :ap_q, :url =>{:controller=>'inventory/search'}, :html =>{:method=>:get } do |f| -%>
          <span id="basic-search-wrap" class="ui-input ui-corner-all">
            <label class="ui-icon ui-icon-search" for="basic-search-q"> </label>
            <input id="basic-search-q" type="text" name="search_condition" value="<%=params[:search_condition]%>" title="请输入搜索条件..." class="text ui-placeholder"/></span>
          <% end -%>
      </div>
    </div>
  </div>
</div>
<!--header end-->
